---
title: OpenSim Gloebit Money Module Beta - Access Request
page_css: /stylesheets/opensim.css
no_sections: true

description: "Sign up for access to the Gloebit Money Module beta for OpenSim.  Test out the newest OpenSim currency solution."
keywords: "Gloebit, OpenSim, OpenSimulator, Money Module, OpenSim Module, Beta, OpenSim integration, beta, OpenSim currency, access request, signup, sign up, beta access, beta access request"
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

      
    <div class="wrapper" style="height:1200px;">
      <iframe src="https://docs.google.com/forms/d/1LfyiGhgaGzcskgMFtAYQ7ALDxfxa5erdhww31bBxjEI/viewform?embedded=true" width="100%" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
    
    {% include footer_scripts.html %}

  </body>
</html>
