---
title: Gloebit Developer Overview
page_css: /stylesheets/index.css
page_js: /javascripts/index.js
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="#services">Services</a></li>
        <li><a href="#benefits">Benefits</a></li>
        <li><a href="#started">Getting Started</a></li>
        <li><a href="#consumer">Consumer Flow</a></li>
        <li><a href="#monetizing">Monetizing</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#integration">Integration</a></li>
        <li><a href="#oss">Open Source</a></li>
      </ul>
    </nav>

    <div class="wrapper" id="heroes">
      <h1 class="for-validation-only">Heroes</h1>
    </div>

    <section class="anchor wrapper" id="services">
      <h1>Gloebit Services</h1>

      <p>Gloebit provides the following services to help you get your game to market faster and easier.  Let us save you money and time while providing a better product for your customers. Choose only the services you want.</p>

      <div class="service collapsed">
        <img src="/images/Gloebit-Icon-Identity-100px.png" alt="Identity Icon" class="one">
        <img src="/images/Gloebit-Icon-Identity-100px.png" alt="Identity Icon" class="two">
        <h2>Identity</h2>
        <p>
          Manage accounts and authentication.
        </p>
        <p>
          Users log in via Gloebit site using<br>
          Email address + Gloebit password<br>
          <i>or</i> Facebook, Google+, LinkedIn, Twitter<br>
          <a href="/services/#identity">Learn more</a>
        </p>
      </div>

      <div class="service collapsed">
        <img src="/images/Gloebit-Icon-Character-100px.png" alt="Characters Icon" class="one">
        <img src="/images/Gloebit-Icon-Character-100px.png" alt="Characters Icon" class="two">
        <h2>Characters</h2>
        <p>
          Manage multiple characters per&nbsp;user.
        </p>
        <p>
          Support for creation, selection, and editing.<br>
          Gloebit allows multiple personas per user.<br>
          Fully compatible with Inventory service.<br>
          <a href="/services/#character">Learn more</a>
        </p>
      </div>

      <div class="service collapsed">
        <img src="/images/Gloebit-Icon-Inventory-100px.png" alt="Inventory Icon" class="one">
        <img src="/images/Gloebit-Icon-Inventory-100px.png" alt="Inventory Icon" class="two">
        <h2>Inventory</h2>
        <p>
          Store and retrieve user&nbsp;data.
        </p>
        <p>
          Define your products on Gloebit and use them,<br>
          or define new items on the fly from your app.<br>
          Stow entitlements, awards, saved games...<br>
          <a href="/services/#inventory">Learn more</a>
        </p>
      </div>

      <div class="service collapsed">
        <img src="/images/Gloebit-Icon-Transaction-100px.png" alt="Digital Currency & Transaction Icon" class="one">
        <img src="/images/Gloebit-Icon-Transaction-100px.png" alt="Digital Currency & Transaction Icon" class="two">
        <h2>Digital Currency</h2>
        <p>
          Accept in-app payments.
        </p>
        <p>
          Use gloebits as your digital currency.<br>
          Your users buy gloebits on the Gloebit site.<br>
          We securely exchange gloebits for your products.<br>
          <a href="/services/#transact">Learn more</a>
        </p>
      </div>
      <p>Get an overview of our services:<br>
        <a href="/services/">Service Overviews</a>
      </p>
    </section>

    <section class="anchor wrapper" id="benefits">
      <h1>Benefits of Using Gloebit Services</h1>

      <div>
        <h2>For Your Developers</h2>
        <ul>
          <li><a href="/endpoints/">Well-defined RESTful APIs.</a></li>
          <li><a href="/apis/">Cross-platform compatibility.</a></li>
          <li><a href="/endpoints/#auth">Security designed into flows.</a></li>
          <li><a href="/user-auth/">User experience built-in.</a></li>
        </ul>
      </div>

      <div>
        <h2>For Your Company</h2>
        <ul>
          <li><a href="/monetize/">Ideal for micro-transactions.</a></li>
          <li>Generate new revenue streams.</li>
          <li><a href="/endpoints/#auth">OAuth2 security requirements.</a></li>
          <li><a href="/pricing/"><i>Ridiculoulsy</i> inexpensive.</a></li>
        </ul>
      </div>

      <div>
        <h2>For Your Users</h2>
        <ul>
          <li>Easy-to-use digital currency.</li>
          <li><a href="/monetize/#consumer">Single, centralized account.</a></li>
          <li><a href="/user-auth/">Explicit, secure authorization.</a></li>
          <li>Payment flexibility.</li>
        </ul>
      </div>

      <p>
        More benefits information:<br>
        <a href="/benefits/">Digital Curreny & Transaction Service benefits</a>
      </p>
    </section>

    <section class="anchor wrapper" id="started">
      <h1>Get Started Using Gloebit Services</h1>

      <div>
        <h3>Get started now:</h3>
        <ol>
          <li>Create a Gloebit merchant sandbox account.</li>
          <li>Configure the Gloebit API settings for your application.</li>
          <li>Grab our API and example code for your language/toolkit.</li>
          <li>Quickly integrate and test in our sandbox.</li>
          <li>Go live when you are ready to launch.</li>
        </ol>
        <h2>It's fast and free!</h2>
      </div>
      <p>
        Want more details behind these steps?<br>
        <a href="/merchant-steps/">Check out our Getting Started Guide</a>
      </p>
    </section>

    <section class="anchor wrapper" id="consumer">
      <h1>Customer Authorization Experience</h1>

      <p>
        When you are ready to use Gloebit services with one of your customers, you will send your customer to Gloebit to authorize your application's interactions with the customer's account.  If your customer is not yet logged into Gloebit, we will present the Gloebit login screen.  After logging in to Gloebit, we ask your customer to authorize your application:
      </p>
      <img src="/images/authdialog.png" alt="Gloebit Authorization Dialog">


      <p>
        Users are comfortable with this authorization style from social networks such as Facebook.  They understand that after they grant authorization your application or server will be able to directly use Gloebit services on their behalf with no further interactions.
      </p>

      <p>
        <a href="/user-auth/">Take a look at an Example&nbsp;Authorization&nbsp;Flow</a>
      </p>
    </section>

    <section class="anchor wrapper" id="monetizing">
      <h1>Monetizing with gloebits</h1>

      <h2>What are gloebits?</h2>
      <div>
        <p>
            Gloebits are a digital currency designed for in-app purchases, especially micro-transactions.  Users can spend gloebits in any application intregrating <a href="/services/#transact">Gloebit's Digital Currency & Transaction Service</a>.  Gloebit manages all accounts and transactions for you.
        </p>
      </div>

      <h2>What will your users experience using gloebits?</h2>
      <div id="monetize-consumer">
        <p>
          Gloebit accounts are universal.  The gloebit balance in an account is available to all Gloebit-integrated applications.
        </p>
        <img src="/images/accountheader.png" alt="Gloebit Account Ribbon">
        <p>
            After granting Gloebit authorization for your application, your customers can spend their gloebits with one click from within your application without leaving it.  It's smooth and fast, and it keeps the user engaged in your application.
        </p>
      </div>

      <h2>What will you experience using gloebits?</h2>
      <div id="monetize-merchant">
        <p>
          As a merchant using the Gloebit services, you price and sell your products in gloebits.
        </p>
        <img src="/images/pricesell.png" alt="Tic-tac-toe Purchase Screen">
        <p>
          When you sell products to your customers via the Gloebit transaction service, you receive gloebit proceeds in your merchant account.  You can spend these gloebits with other merchants or sell them and withdraw the proceeds.  Gloebit keeps records of all transactions and provides an exportable transaction history for your account.
        </p>
      </div>

      <h2>What about gloebits for user-to-user transactions?</h2>
      <div>
        <p>
          If you would like to allow user-to-user transactions within your application, gloebits are the best way to do so.  The Gloebit services enable small, trusted transactions, and using gloebits provides you with a new revenue stream from user-to-user transaction fees.  Please <a href="https://www.gloebit.com/contact-us/"><!--target="_blank"-->contact us</a> to discuss making this offering available to you.
        </p>
      </div>

      <p>
        <a href="/monetize/">Visit our Monetizing page for more&nbsp;gloebits&nbsp;details</a>
      </p>
    </section>

    <section class="anchor wrapper" id="pricing">
      <h1>Prices for Gloebit Services</h1>

      <h2>Gloebit charges 2% on all gloebit transactions.</h2>
      <a href="/pricing/"><img src="/images/twopercent.png" alt="2% fees instead of 30%"></a>
      <h2>All other Gloebit services are free of charge!</h2>
      <p>
        No monthly fees.  No credit card fees.  No chargeback fees.
      </p>
      <p>
        <a href="/pricing/">Read the regular-sized print on all&nbsp;our&nbsp;Pricing&nbsp;Details</a>
      </p>
    </section>

    <section class="anchor wrapper" id="integration">
      <h1>Integrating Gloebit Services</h1>

      <div>
        <h2>Getting Started</h2>
        <p>
          Want to start integrating a Gloebit service?<br>
          Try it out for free on our <a href="https://sandbox.gloebit.com/">sandbox server</a>.
        </p>
        <p>
          <a href="https://sandbox.gloebit.com/signup/">Create an account there</a>, add an application,<br>
          <a href="/endpoints/">read up on our interfaces</a> or <a href="/apis/">grab an API</a>,<br>
          integrate it, and test full functionality.
        </p>
        <p>
          For step-by-step instructions:<br>
          <a href="/merchant-steps/">Read our Getting Started Guide</a>
        </p>
      </div>

      <div>
        <h2>Service Interfaces</h2>
        <p>
          Gloebit services are accessed via RESTful calls.
          We&nbsp;documented the interface details to help
          you&nbsp;add&nbsp;the necessary HTTP requests.
        </p>
        <p>
          Or if you want to avoid coding HTTP calls,<br>
          check out the Plugins information below.
        <p>
          For available endpoints and HTTP details:<br>
          <a href="/endpoints/">Gloebit Service Interface Details</a>
        </p>
      </div>

      <div>
        <h2>Plugins, APIs, and Code Examples</h2>
        <p>
          For easier integration we created (and are creating) plugins and APIs for various languages, frameworks, and platforms.  Below we list the more popular ones and provide direct links to their sources.  If you don't see the plugin, API, or language you need, <a href="https://www.gloebit.com/contact-us/"><!--target="_blank"-->contact us</a> so we can work with you on creating an integration solution.
        </p>
      </div>

      <div class="container">
        <div>
          <div>
            <!-- <h3>Unity Web Player</h3> -->
            <a href="http://unity3d.com/"><!--target="_blank"--><img src="/images/vendor/Unity_Pri.png" alt="Unity 3D Logo"></a>
          </div>
          <div>
            <p>
              <a href="https://github.com/gloebit/unity-gloebit"><!--target="_blank"-->Plugin available</a>!
            </p>
          </div>
          <div></div>
        </div>

        <div>
          <div>
            <!-- <h3>HAXE Toolkit</h3> -->
            <a href="http://haxe.org/"><!--target="_blank"--><img src="/images/vendor/haxe-logo-horizontal.png" alt="HAXE Toolkit Logo"></a>
          </div>
          <div>
            <p>
              <a href="https://github.com/gloebit/haxe-gloebit"><!--target="_blank"-->Class (API) available</a>!
            </p>
          </div>
          <div></div>
        </div>

        <div>
          <div>
            <!-- <h3>Python</h3> -->
            <a href="https://www.python.org/"><!--target="_blank"--><img src="/images/vendor/python-logo-master-v3-TM.png" alt="Python Logo"></a>
          </div>
          <div>
            <p>
              Module (API) available!
            </p>
          </div>
          <div>
            <p>
              Working examples available:
            </p>
            <ul>
              <li><a href="https://github.com/gloebit/python-django-gloebit"><!--target="_blank"-->Django app</a></li>
              <li><a href="https://github.com/gloebit/python-flask-gloebit"><!--target="_blank"-->Flask app</a></li>
            </ul>
          </div>
        </div>

        <div>
          <div>
            <!-- <h3>PHP</h3> -->
            <a href="http://php.net/"><!--target="_blank"--><img src="/images/vendor/php-med-trans.png" alt="PHP Logo"></a>
          </div>
          <div></div>
          <div>
            <p>
              <a href="https://github.com/gloebit/PHP-gloebit"><!--target="_blank"-->Code example available</a>.
            </p>
          </div>
        </div>
      </div>

      <p>
        We also have a page with more details:<br>
        <a href="/apis/">Visit our Plugins, APIs, and Code&nbsp;Examples&nbsp;page</a>
      </p>

    </section>

    <section class="anchor wrapper" id="oss">
      <h1>Open Source</h1>

      <p>We are a big fan of open source tools.  If, in your development, you create a tool which would be useful for our community of developers such as wrapping our calls in a new language, or designing a great front end to tie into our character system, and you’re willing to make it available, <a href="https://www.gloebit.com/contact-us/"><!--target="_blank"-->please let us know</a>.  We’ll be happy to take a look and provide it for general use.</p>
    </section>

    {% include footer_scripts.html %}

  </body>
</html>
