---
title: OpenSim Gloebit Money Module Beta Downloads
page_css: /stylesheets/opensim.css

description: "Download the Gloebit dll and ini files for various versions of OpenSim."
keywords: "Gloebit, OpenSim, OpenSimulator, Money Module, OpenSim Module, Beta, OpenSim integration, integration, OpenSim currency, dll, ini, files, builds, change log"

contains_tables: true
contains_social_buttons: false
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="#ini">Gloebit.ini</a></li>
        <li><a href="#dll">Gloebit.dll</a></li>
        <li><a href="#change-log">Change Log</a></li>
      </ul>
    </nav>

    <section class="wrapper anchor" id="intro">
      <h1>{{ page.title }}</h1>
      <p>
        <b>Download the example ini file and the dll for your version of OpenSim so that you can <a href="/opensim/configuration-instructions/">install and enable</a> the Gloebit Money Module.</b>
      </p>
    </section>

    <section class="wrapper anchor" id="ini">
      <h1>Gloebit example ini file</h1>
      <p>You'll need to modify this ini file when configuring the Gloebit Money Module.</p>
      <p><a href="/opensim/downloads/Gloebit.ini" download>download Gloebit.ini</a></p>
    </section>
    
    <section class="wrapper anchor" id="dll">
      <h1>Gloebit dll files</h1>
      <p>Download the dll file which matches or is closest to the version of OpenSim you are running.</p>
      
      {% capture my_include %}{% include Gloebit-dll-table.md %}{% endcapture %}
      {{ my_include | markdownify }}
      
    </section>

    <section class="wrapper anchor" id="change-log">
      <h1>Change Log</h1>
      <p>Updates to GMM since open beta launch in January 2017</p>

      <h2>Build 84 on 2018-12-14</h2>
      <ul>
        <li>Open sourced on <a href="https://github.com/gloebit/opensim-moneymodule-gloebit/">GitHub</a></li>
        <li>Added code of conduct and contribution guidelines for open source community</li>
        <li>Updated Prebuild to use .net v4.6 to align with OpenSim 0.9.1</li>
        <li>Fixed <a href="https://github.com/gloebit/opensim-moneymodule-gloebit/issues/74">#74</a> - Call to get balance during OnCompleteMovementToRegion was slowing region entry enough to occassionally cause teleport failures, so we added this call to a worker queue thread</li>
        <li>Fixed <a href="https://github.com/gloebit/opensim-moneymodule-gloebit/issues/75">#75</a> - Users on old viewers on Grids with multiple currencies and logged into an avatar not yet authorized with Gloebit would carry their non-gloebit balance onto a Gloebit region and get confused - We now make sure their balance is set to 0 G$.</li>
        <li>Fixed <a href="https://github.com/gloebit/opensim-moneymodule-gloebit/issues/72">#72</a> - App owners can now turn off the new session messaging which would deliver an IM for how to authorize or purchase gloebits each new session.  See the new Gleobit.ini and set the following to false to disable - GLBShowNewSessionPurchaseIM and GLBShowNewSessionAuthIM</li>
      </ul>
      <br />
      <h2>Build 75 on 2018-09-11</h2>
      <ul>
        <li>Fixed a messaging bug</li>
        <li>Updated standard for economymodule setting to be in [Economy] section rather than [Startup] section of configs.  GMM now looks in both locations and disables if another module is specified unless the GMM is enabled for specific regions in the Gloebit.ini file.</li>
        <li>Updated [Economy]SellEnabled to default to true as the configs state it does.  Previously we defaulted to false.</li>
        <li>Changed many info level log messages to debug level.</li>
        <li>Rearchitected GMM and added documentation in preparation for open sourcing repository under the LGPLv3 license.</li>
      </ul>
      <br />
      <h2>Build 73 on 2017-08-18</h2>
      <ul>
        <li>Implemented new MoneyModule interface function added to the OpenSim Core.  The addition of this interface was causing crashes on 0.9.1-dev as of late July and on 0.9.0-release as the 0.9.1 dev changes were pulled into the 0.9.0-release.  These should all work now.</li>
        <li>Implemented LandPass sales for all versions of OpenSim (including 0.8.x).</li>
        <li>Implemented new LandPass sales flow added by OpenSim core and in place in 0.9.1-dev and 0.9.0 release</li>
      </ul>
      <br />
      <h2>Build 69 on 2017-06-02</h2>
      <ul>
        <li>Fixed multithreading issue which occassionally caused land purchases to fail on some grids</li>
        <li>Removed the IM with the gloebit purchase link which previously was sent on every new session</li>
      </ul>
      <br />
      <h2>Build 68 on 2017-03-15</h2
      <ul>
        <li>Fixed bug causing crashes on a couple grids where we were dereferencing a client which was somehow unexpectedly null.  Now check for null and return and log an the error.</li>
      </ul>
    </section>

    <!-- Footer -->
    {% include footer_scripts.html %}

  </body>
</html>
