
<!-- Common Developer Page Footer and Scripts -->
    <footer>
      <div class="wrapper">
        <ul>
          <li><a href="https://www.gloebit.com/display-tos-merchant/">Merchant Terms of Service</a></li>
          <li><a href="https://www.gloebit.com/partner-faq/">Merchant FAQ</a></li>
          <li><a href="https://www.gloebit.com/apps/">Partner Applications</a></li>
          <li><a href="https://www.gloebit.com/contact-us/">Contact Us</a></li>
          <li>Follow us on:
            <ul class="social-links">
              <li class="social-tile"><a href="https://www.facebook.com/Gloebit" class="icon facebook" title="Facebook">&#xf107;</a></li>
              <li class="social-tile"><a href="http://www.twitter.com/gloebit" class="icon twitter" title="Twitter">&#xf116;</a></li>
              <li class="social-tile"><a href="http://www.linkedin.com/company/gloebit" class="icon linkedin" title="LinkedIn">&#xf110;</a></li>
              <li class="social-tile"><a href="https://plus.google.com/+Gloebit" class="icon googleplus" title="Google+">&#xf10c;</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>

    <script type="text/javascript" src="../javascripts/scale.fix.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/gbdev.js"></script>
