
<!-- Common document HEAD -->
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="shortcut icon" href="https://www.gloebit.com/favicon.ico?v=3" />

    <link rel="stylesheet" href="/stylesheets/styles.css" />
    {% if page.page_css %}
    <link rel="stylesheet" href="{{ page.page_css }}" />
    {% endif %}

    <link rel="stylesheet" href="https://gloebit-static-prod-0.s3.amazonaws.com/static-1/css/icons.css" />
    
    <link rel="publisher" href="https://plus.google.com/+Gloebit" />
    
    <!-- SEO & Sharing data -->
    <link rel="canonical" href="{{ site.url }}{{ page.url | remove:'index.html' }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | remove:'index.html' }}" />
    <meta name="twitter:url" content="{{ site.url }}{{ page.url | remove:'index.html' }}" />
    
    <meta property="og:site_name" content="Gloebit" />
    <meta name="twitter:site" content="@gloebit" />
    
    <meta property="og:locale" content="en_US" />
    
    <!-- set author if one exists -->
    {% assign author = site.authors[page.author] %}
    
    <!-- set open graph type and related params -->
    {% if page.page_type == "blog_post" %}
      <meta property="og:type" content="article" />
      <meta property="article:publisher" content="https://www.facebook.com/gloebit"
      {% if author.facebook %}
        <meta property="article:author" content="https://www.facebook.com/{{ author.facebook }}" />
      {% endif %}
      {% if page.date %}
        <meta property="article:published_time" content="{{ page.date }}" />
      {% endif %}
      {% if page.tags %}
        {% for page_tag in page.tags %}
          <meta property="article:tag" content="{{ page_tag }}" />
        {% endfor %}
      {% endif %}
    {% else %}
      <meta property="og:type" content="website" />
    {% endif %}
    
    <!-- set twitter card type and related params -->
    {% if page.image %}
      <meta name="twitter:card" content="summary_large_image">
    {% else %}
      <meta name="twitter:card" content="summary" />
    {% endif %}
    
    {% if page.title %}
      <meta property="og:title" content="{{ page.title }}" />
      <meta name="twitter:title" content="{{ page.title }}" />
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}" />
      <meta property="og:description" content="{{ page.description }}" />
      <meta name="twitter:description" content="{{ page.description }}" />
    {% endif %}
    {% if page.image %}
      <meta property="og:image" content="{{ page.image }}" />
      <meta name="twitter:image:src" content="{{ page.image }}" />
      {% if page.image_width %}
        <meta property="og:image:width" content="{{ page.image_width }}" />
        <meta name="twitter:image:width" content="{{ page.image_width }}" />
      {% endif %}
      {% if page.image_height %}
        <meta property="og:image:height" content="{{ page.image_height }}" />
        <meta name="twitter:image:height" content="{{ page.image_height }}" />
      {% endif %}
    {% else %}
      <!-- default page image -->
      <meta property="og:image" content="{{ site.url }}/images/logo-color-vertical.png" />
      <meta name="twitter:image:src" content="{{ site.url }}/images/logo-color-vertical.png" />
    {% endif %}
    
    <!-- Blog post authorship details. -->
    <!-- Output author details if some exist. -->
    {% if author.google_plus %}
        <!-- Link to the authors Google page. -->
        <link rel="author" href="https://plus.google.com/+{{ author.google_plus }}?rel=author" />
    {% endif %}
    {% if author.twitter %}
      <meta name="twitter:creator" content="@{{ author.twitter }}" />
    {% endif %}

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
