
<!-- Common document HEAD -->
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="https://www.gloebit.com/favicon.ico?v=3" />

    <link rel="stylesheet" href="/stylesheets/styles.css">
    {% if page.page_css %}
    <link rel="stylesheet" href="{{ page.page_css }}">
    {% endif %}

    <link rel="stylesheet" href="https://gloebit-static-prod-0.s3.amazonaws.com/static-1/css/icons.css">
    
    <!-- Blog post authorship details. -->
    <!-- Output author details if some exist. -->
    {% if page.author.google_plus %}
        <!-- Link to the authors Google page. -->
        <link rel="author" href="{{ author.google_plus }}?rel=author" />
    {% endif %}

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
