{% comment %}
<!-- This includes a div with all of the follow gloebit buttons on social networks -->
<!-- Make sure scripts for all buttons are included by page by setting contains_social_buttons: true in page yaml and insuring head and footer of layout have necessary includes of social_button_scripts -->
{% endcomment %}

<!-- Gloebit follow div -->
<div class="gloebit-follow-container">
    
  <!-- Display Twitter Follow Button -->
  <div class="gloebit-follow">
    <a class="twitter-follow-button"
        href="https://twitter.com/gloebit"
        data-show-count="false"
        data-lang="en"
        rel="publisher">
        Follow @gloebit
    </a>
  </div>
    
  <!-- Display Facebook follow button -->
  <div class="gloebit-follow">
    <div class="fb-follow"
        data-href="https://www.facebook.com/gloebit"
        data-colorscheme="light"
        data-layout="button"
        data-show-faces="false">
    </div>
  </div>
    
  <!-- Display Google Plus follow button. -->
  <div class="gloebit-follow">
    <div class="g-follow"
        data-annotation="none"
        data-height="20"
        data-href="//plus.google.com/+Gloebit"
        data-rel="publisher">
    </div>
  </div>
    
  <!-- Display LinkedIn follow button. -->
  <div class="gloebit-follow">
    <script type="IN/FollowCompany" data-id="2618609"></script>
  </div>
    
  <!-- Display GitHub follow button. -->
  <div class="gloebit-follow">
    <a class="github-button" href="https://github.com/gloebit" aria-label="Follow @gloebit on GitHub">Follow</a>
  </div>
    
</div>