---
redirect_from:
- "/opensim/beta-signup/index.html"

title: OpenSim Gloebit Money Module Beta - Configuration Instructions
page_css: /stylesheets/opensim.css

description: "Learn how to configure the Gloebit Money Module beta for OpenSim.  Try out the newest OpenSim currency solution."
keywords: "Gloebit, OpenSim, OpenSimulator, Money Module, OpenSim Module, Beta, OpenSim integration, OpenSim currency, configure, install, instructions, guide, configuration instructions, config, configure module, addon module, configure addon module"
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    
    <nav>
      <ul>
        <li><a href="#app-permission">Request App Creation Permission</a></li>
        <li><a href="#app-creation">Create An App</a></li>
        <li><a href="#gmm-configuration">Configure The GMM</a></li>
      </ul>
    </nav>
    
    <section class="wrapper anchor" id="intro">
      <h1>{{ page.title }}</h1>
      
      <p>Enabling Gloebit on your OpenSim grid is quick and simple.  There are 3 easy steps.</p>
      <aside>If you use a hosting provider, they should be able to handle step 3 for you.</aside>
      <ol>
        <li>Request account permission to create apps</li>
        <li>Create a Gloebit app</li>
        <li>Install and configure the Gloebit Money Module</li>
      </ol>
      <p>The details for each of these is below.  Just follow the step by step instructions.</p>
      <p>We have two environments, a Sandbox testing environment and Production.  All of the instructions below are for our Production environment, but if you want to test with fake payments and gloebits, you can replace <i>www</i> with <i>sandbox</i> in all the links below.</p>
    </section>

    <section class="wrapper anchor" id="app-permission">
      <h2>Request account permission to create apps</h2>
      <p>If you haven't already, <a href="https://www.gloebit.com/signup/">create a Gloebit account</a>.  Remember that our Sanbox and Production environments use completely separate accounts, so if you've been testing on Sandbox, you'll still need to create a Production account and go through all the steps below from that account to create a Production app.</p>
      <p>From your Gloebit account, fill in and submit our <a href="https://www.gloebit.com/merchant-signup/">form for requesting app creation permission</a>.  We just need some basic contact info.</p>
      <ul>
        <li>Company name and address are optional.  If your grid or space is owned by a company, you should enter the company information.</li>
        <li>Product name should probably be the grid name for a private grid, or what you call your space on the grid if you are on a public grid.</li>
        <li>Product url should be the url of the website for your grid or space if you have one.</li>
        <li>The Contact name, email and phone number should be the real life info of someone in charge of this grid or space (probably you who is signing up).</li>
        <li>Click submit once you have entered your information</li>
      </ul>
      <p>You'll need to wait for us to review your request before you can move to creating your app.  We'll email you once we have.</p>
    </section>

    <section class="wrapper anchor" id="app-creation">
      <h2>Create a Gloebit app</h2>
      <p>Once your account has been granted permission to create apps, you'll gain access to your <a href="https://www.gloebit.com/merchant-tools/">merchant tools page</a> where you can create and edit your apps.  Go there and either click <i>Configure</i> next to an existing app (we may have created one for you labeled "Unknown") or the <i>Add an Application</i> button, which will take you to an app settings page.  Follow the instructions below to set up your app.</p>
      <ul>
        <aside>You can learn about all of the app settings <a href="/app-config/">here</a> if you are curious.</aside>
        <li>Enter a <b>Name</b> (probably the grid name or name of the space on which Gloebit will be enabled) and <b>Short Description</b> for your app.  These are what users will see when they are asked to authorize your app to access their Gleobit account (as well as the logo below).</li>
        <li><b>Publisher</b> can be left blank.  It is displayed on our <a href="https://www.gloebit.com/apps/">app discovery page</a> and is a way that a company with many apps could show they are all owned by the same company.  You can put your grid/company name here.  You could also put the name of your hosting provider here if you like.</li>
        <li>Upload a <b>Logo</b>. This is important because users see it when authorizing.  We recommend rough dimensions of 169px wide x 108px high.  We will shrink the image down to fit inside those dimensions.</li>
        <li><b>Return-to Text</b> can be left blank.</li>
        <li><b>Default Return-To URI</b> should be set to the web page for your grid or space or some url which explains what their space is or how to connect.  It can be left blank if you don't have a website.  This url will be provided alongside your app on certain sections of our site.</li>
        <li>If you check the <b>Make application findable</b> box, once we review it, your app will show up on our <a href="https://www.gloebit.com/apps/">app discovery page</a>.</li>
        <li>In the Gloebit Authorization section below, copy the <b>OAuth Key</b> and <b>OAuth Secret</b>.  You'll need these (or will need to provide them to your hosting provider) to configure the Gloebit Money Module to connect to this app.  You can also retrieve these later by clicking on <i>Configure</i> next to this app on your merchant tools page.</li>
        <li>Scroll to the bottom of the page and click the <i>Save</i> button.  You can ignore the other settings on this page, as well as the warning at the top about callback prefixes as they are not designed for the OpenSim GMM.</li>
      </ul>
      <p>Now you have an app and you're ready to install and configure the GMM.</p>
    </section>
    
    <section class="wrapper anchor" id="gmm-configuration">
      <h2>Configuration</h2>
      <p>If you are running the Diva distribution of OpenSim, please follow our <a href="/opensim/configuration-instructions/diva/#gmm-configuration">Diva specific configuration instructions</a> instead of the instructions below.</p>
      <ol>
        <li><b>Install:</b>
          <ul>
            <li><a href="/opensim/downloads/">Download</a> Gloebit.ini and the Gloebit dll for your version of OpenSim
              <ul>
                <li>Alternatively, you can clone the <a href="https://github.com/gloebit/opensim-moneymodule-gloebit">GMM repository</a> and build your DLL yourself.</li>
              </ul>
            </li>
            <li>Place <i>Gloebit.dll</i> in your opensim/bin/ directory.</li>
            <li>Place <i>Gloebit.ini</i> in your ConfigDirectory.  By default, this is also opensim/bin/.  If you are unsure, you can locate the ConfigDirectory value in the [Startup] section of opensim.ini.</li>
          </ul>
        </li>
        <li><b>Enable:</b> Make required edits to Gloebit.ini and opensim.ini.
          <ul>
            <li>In Gloebit.ini, set <i>GLBEnvironment = production</i> (or set it to <i>sandbox</i> for a testing app created in our sandbox environment).
            <li>In Gleobit.ini, set <i>GLBKey</i> and <i>GLBSecret</i> to the "OAuth Key" and "OAuth Secret" from the application you created above.</li>
            <li>To enable Gloebit across the entire process (for all regions running under this single OpenSim process):</li>
            <ul>
              <li>In Gloebit.ini, set <i>Enabled = true</i></li>
              <li>In opensim.ini, set <i>economymodule = Gloebit</i> in the [Economy] section.</li>
            </ul>
            <li>To enable Gloebit only for specific regions running under this single OpenSim process:</li>
            <ul>
              <li>In Gloebit.ini, set <i>Enabled = false</i></li>
              <li>In Gloebit.ini, set <i>GLBEnabledOnlyInRegion</i> to a whitespace separated list of the region UUIDs for which you would like the GMM enabled.</li>
            </ul>
          </ul>
        </li>
        <li><b>Improved Robust Experience:</b> Configure all sims to use the same database
          <ul>
            <li>If you are running multiple sim processes/servers with the GMM enabled, then we recommend you create a single Gloebit database on a server which all sim processes can access, such as on your robust server.  If each sim has it's own database, then your users will have to authorize Gloebit from each sim rather than once and will receive session messaging upon entering each sim rather than once per session.</li>
            <li>Use <i>GLBSpecificConnectionString</i> and <i>GLBSpecificStorageProvider</i> to define a different database for the Gloebit Tables.  If not set, the GMM will use the default ConnectionString set by the DatabaseService section of your configuration.</li>
            <li>You may need to configure your database to allow connections from remote servers and your firewall to allow connections on port 3306 for your sim servers.  You can find <a href="https://easyengine.io/tutorials/mysql/remote-access/">instructions</a> for this online, but this is advanced, so you should not attempt this unless you know how to secure your firewall.</li>
          </ul>
        </li>
        <li><b>Optional Gloebit Configuration Options:</b> Make additional edits to Gloebit.ini for improved, user-friendly behavior (None of these are required).
          <ul>
            <li>You can configure what IMs are sent to avatars each session start.  To turn off new session messages, set the following:
              <ul>
                <li><i>GLBShowNewSessionAuthIM = false</i></li>
                <li><i>GLBShowNewSessionPurchaseIM = false</i></li>
              </ul>
            </li>
            <li>If you entered an "OAuth Key Alias" for your application, you can set <i>GLBKeyAlias</i> to this value.</li>
            <li>Set <i>GLBOwnerName</i> and <i>GLBOwnerEmail</i> to the name and contact details of a manager of this OpenSim process.  These are displayed with certain error messages if there is a configuration issue and user is asked to report this problem to this manager.</li>
            <li>Use <i>GLBSpecificConnectionString</i> and <i>GLBSpecificStorageProvider</i> to define a different database for the Gloebit Tables.  If not set, the GMM will use the default ConnectionString set by the DatabaseService section of your configuration.</li>
          </ul>
        </li>
        <li><b>Make the currency symbol, land sales, and buy-currency button work</b>
          <ul>
            <li>Tell your users to update to the latest Alchemy or Firestorm viewer.  We've <a href="https://medium.com/@colosi/multi-currency-support-coming-to-opensim-viewers-cd20e75f7990">patched</a> the viewers to make this all work with no effort from you.  Make sure your users have updated to at least the versions below.
              <ul>
                <li><a href="https://alchemyviewer.org/alchemy-release-50741341.html">Alechemy v5.0.7.41341</a> released on November 14th, 2017</li>
                <li><a href="http://www.firestormviewer.org/firestorm-update-5-0-11-53634/">Firestorm v5.0.11.53634</a> released on January 26th, 2018</li>
                <li>Singularity has not yet released a version with the patch.
              </ul>
            </li>
            <li>If you would like to set the currency symbol to <b>G$</b> across your entire grid, even on regions without the Gloebit Money Module enabled, then set <i>Currency = "G$"</i> in the [LoginService] section of StandaloneCommon.ini, Robust.ini, or Robust.HG.ini.</li>
            <li>For Standalone grids, you can also get these to work somewhat easily for older viewers by pointing the economy helper-uri in the [GridInfoService] secion of your StandaloneCommon.ini at a region with Gloebit enabled (<i>http://&lt;IP or Domain of Grid&gt;:&lt;Port of Region with Gloebit enabled&gt;</i>).  If your [CONST] section is configured in OpenSim.ini, then you can simply uncomment this to <i>economy = ${Const|BaseURL}:9000/</i> and update the port if  necessary.  Otherwise, you can hard code this like <i>economy = https://www.mygrid.com:9000/</i>.</li>
          </ul>
        </li>
      </ol>
    </section>
    
    {% include footer_scripts.html %}

  </body>
</html>
