---
title: OpenSim Gloebit Money Module Beta - Configuration Instructions
page_css: /stylesheets/opensim.css
no_sections: true

description: "Learn how to configure the Gloebit Money Module beta for OpenSim.  Test out the newest OpenSim currency solution."
keywords: "Gloebit, OpenSim, OpenSimulator, Money Module, OpenSim Module, Beta, OpenSim integration, beta, OpenSim currency, configure, install, instructions, guide, cinfiguration instructions, config, configure module, addon module, configure addon module"
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
    
    <section class="wrapper anchor" id="intro">
      <h1>{{ page.title }}</h1>

      <h2>Access</h2>
      <p>During beta testing, if you'd like access to the module, you must <a href="/opensim/beta-signup/">request it here</a>.  Get in the queue early for your best chance for beta access.</p>
      <p>Gloebit will roll out access to requesters gradually, as it will help us narrow the focus of our testing and produce a better product faster.  Trust us, we want to get this in your hands as soon as possible :wink:.</p>

      <h2>Set up your Gloebit app</h2>
      <p>We have two environments, Sandbox and Production.  In Sandbox, payments and gloebits are fake, which allows you to test without spending any real money.  In Production, payments and gloebits are real.  We highly recommend that you start with an app in our Sandbox environment, and then switch to Production, but we also understand that some customers may want or need to skip Sandbox and launch right into Production.  In either case, follow the steps below to prepare for your integration.
      <ol>
        <li>Create an account on <a href="https://sandbox.gloebit.com/signup/">Sandbox</a>, or on <a href="https://www.gloebit.com/signup/">Production</a>.</li>
        <li>Request account permissions to create apps on <a href="https://sandbox.gloebit.com/merchant-signup/">Sandbox</a> or on <a href="https://www.gloebit.com/merchant-signup/">Production</a>.
          <ul>
            <li>On Sandbox, this permission is immediately granted so you don't lose any time.</li>
            <li>On Production, you'll need to wait for us to review your request before you can move to the next step..</li>
          </ul>
        </li>
        <li>Create an application from your <a href="https://sandbox.gloebit.com/merchant-tools/">Sandbox merchant tools</a> or <a href="https://www.gloebit.com/merchant-tools/">Production merchant tools</a> by clicking "Add an Application".</li>
        <aside>You can learn about the  rest of the app settings <a href="/app-config/">here</a> if you are curious.</aside>
        <li>In the Application Information section of your app, fill in the Name and Description, and upload a Logo (169px wide x 108px high recommended) so that your users will know who they are dealing with.</li>
        <li>Retrieve the "OAuth Key" and "OAuth Secret" from the "Gloebit Authorization Information" section of your application settings.</li>
      </ol>
      
      <h2>Configuration</h2>
      <ol>
        <li><b>Install:</b> We will provide you with Gloebit.dll and Gloebit.ini.
          <ul>
            <li>Place <i>Gloebit.dll</i> in your opensim/bin/ directory.</li>
            <li>Place <i>Gloebit.ini</i> in your ConfigDirectory.  By default, this is also opensim/bin/.  If you are unsure, you can locate the ConfigDirectory value in the [Startup] section of opensim.ini.</li>
          </ul>
        </li>
        <li><b>Enable:</b> Make required edits to Gloebit.ini and opensim.ini.
          <ul>
            <li>Set <i>GLBKey</i> and <i>GLBSecret</i> to the "OAuth Key" and "OAuth Secret" from the application you created above.</li>
            <li>To enable Gloebit across the entire process (for all regions running under this single OpenSim process):</li>
            <ul>
              <li>In Gloebit.ini, set <i>Enabled = true</i></li>
              <li>In opensim.ini, set <i>economymodule = Gloebit</i> (you may need to add this line to the end of your [Startup] section.</li>
            </ul>
            <li>To enable Gloebit only for specific regions running under this single OpenSim process:</li>
            <ul>
              <li>In Gloebit.ini, set <i>Enabled = false</i></li>
              <li>In Gloebit.ini, set <i>GLBEnabledOnlyInRegion</i> to a whitespace separated list of the region UUIDs for which you would like the GMM enabled.</li>
            </ul>
          </ul>
        </li>
        <li><b>Improved Robust Experience:</b> Configure all sims to use the same database
          <ul>
            <li>If you are running multiple sim processes/servers with the GMM enabled, then we recommend you create a single Gloebit database on a server which all sim processes can access, such as on your robust server.  If each sim has it's own database, then your users will have to authorize Gloebit from each sim rather than once and will receive session messaging upon entering each sim rather than once per session.</li>
            <li>Use <i>GLBSpecificConnectionString</i> and <i>GLBSpecificStorageProvider</i> to define a different database for the Gloebit Tables.  If not set, the GMM will use the default ConnectionString set by the DatabaseService section of your configuration.</li>
            <li>You may need to configure your database to allow connections from remote servers and your firewall to allow connections on port 3306 for your sim servers.  You can find <a href="https://easyengine.io/tutorials/mysql/remote-access/">instructions</a> for this online, but this is advanced, so you should not attempt this unless you know how to secure your firewall.</li>
          </ul>
        </li>
        <li><b>Optional Gloebit Configuration Options:</b> Make additional edits to Gloebit.ini for improved, user-friendly behavior (None of these are required).
          <ul>
            <li>If you entered an "OAuth Key Alias" for your application, you can set <i>GLBKeyAlias</i> to this value.</li>
            <li>Set <i>GLBOwnerName</i> and <i>GLBOwnerEmail</i> to the name and contact details of a manager of this OpenSim process.  These are displayed with certain error messages if there is a configuration issue and user is asked to report this problem to this manager.</li>
            <li>Use <i>GLBSpecificConnectionString</i> and <i>GLBSpecificStorageProvider</i> to define a different database for the Gloebit Tables.  If not set, the GMM will use the default ConnectionString set by the DatabaseService section of your configuration.</li>
          </ul>
        </li>
        <li><b>Optional OpenSim Configuration Options:</b>
          <ul>
            <li>Set the currency symbol to <b>G$</b>
              <ul>
                <li>Be aware that this is a grid wide setting, so you may not want to do this if other currency systems are on use in your grid.</li>
                <li>Set <i>Currency = "G$"</i> in the [LoginService] section of StandaloneCommon.ini, Robust.ini, or Robust.HG.ini.</li>
              </ul>
            </li>
            <li>Make land sales work
              <ul>
                <li>For standalone grids, Gloebit can handle this direclty from our module if the economy helper-uri is configured.  See "Configure the economy helper-uri" below.</li>
                <li>For robust grids, a script is required on the robust server and the economy helper-uri must also be configured.
                  <ul>
                    <li>see "Configure the economy helper-uri" below for how to configure this uri.</li>
                    <li>Your robust server needs a landtool.php script to handle pre-flight checks from the viewer before it will deliver the land purchase event to our module.  We recommend this <a href="https://github.com/justincc/opensimulator-helper">repository from justincc</a> for both the landtool.php script and instructions on how to install it.</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Make the "Buy Currency" button work
              <ul>
                <li>If configured, on clicking "Buy Currency", or upon attempting to purchase an object with insufficient funds, this will present an unauthorized user with an authorization message, and will present an authorized user with a cost estimate, and upon clicking purchase, a message with a link to purchase gloebits.  We can not yet sell gloebits direclty from the viewer.</li>
                <li>For standalone grids, Gloebit can handle this directly from our module if the economy helper-uri is configured.  See "Configure the economy helper-uri" below.</li>
                <li>For robust grids, a currency.php script is required in addition to properly configuring the economy helper-uri.  We have not yet found a drop-in currency.php file, nor have we had a chance to write one.  If someone can provide this resource, please let us know.</li>
              </ul>
            </li>
            <li>Configure the economy helper-uri
              <ul>
                <li>This is required for land sales and for the Buy Currency button to work.  See the above sections for additonal details on how to make these function.</li>
                <li>When changing the economy helper-uri, testing can be challenging. I have discovered the following with Firestorm.  If the grid I am testing is the one currently selected to log into, then it will not refresh the economy helper-uri, so I first need to select a different grid from the main screen.  Then, I need to open preferences->advanced, select my grid, click refresh, and then click apply.  Then I can set the grid to log into back to the my grid, log in, and test it.</li>
                <li>The economy setting is in the [GridInfoService] secion of your StandaloneCommon.ini, Robust.ini or Robust.HG.ini depending upon your OpenSim configuration.</li>
                <li>For standalone grids, this must be configured to point at a region with Gloebit enabled, effectively <i>http://&lt;IP or Domain of Grid&gt;:&lt;Port of Region with Gloebit enabled&gt;</i>.
                  <ul>
                    <li>You can find the port for each region in your Regions.ini file.  Your first region is usually on port 9000 by default</li>
                    <li>If your [CONST] section is configured in OpenSim.ini, then you can simply uncomment this to <i>economy = ${Const|BaseURL}:9000/</i> and update the port if  necessary.  Otherwise, you can hard code this like <i>economy = https://www.mygrid.com:9000/</i>.</li>
                  </ul>
                </li>
                <li>For robust grids, this must be configured to point at the folder where you have placed landtool.php and if you have it, currency.php.
                  <ul>
                    <li>This folder and these scripts must be accessible to anyone who has logged into your grid</li>
                    <li>If your [CONST] section is configured in OpenSim.ini, then you can simply uncomment this to <i>economy = ${Const|BaseURL}/economy</i> and replace "economy" with the path to this folder.  Otherwise, you can hard code this like <i>economy = https://www.mygrid.com/economy</i>.</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul> 
        </li>
      </ol>

    
    </section>
    
    {% include footer_scripts.html %}

  </body>
</html>
