---
title: Gloebit Pricing and Fee Details
page_css:
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="#fees">Fees</a></li>
        <li><a href="#frees">Traditional Fees Gloebit Does Not Charge</a></li>
    </nav>

    <section class="wrapper anchor" id="intro">
      <h1 class="for-validation-only"> </h1>
      <p>
        Try it for free - Gloebit services are free to integrate and test.  We only make money when you make money.  See our <a href="/merchant-steps/">getting started guide</a> to jump right in.
      </p>
    </section>

    <section class="wrapper anchor" id="fees">
      <h1>Fees</h1>
      <p>
        Gloebit charges 2% on gloebit transactions, and $1 to withdraw USD proceeds.  For additional details, read below and also see the <a href="https://www.gloebit.com/display-tos-merchant/">Merchant Terms of Service</a>.
      </p>

      <h2>Fee on Gloebit Transactions</h2>
      <p>
        When a customer spends gloebits in an application, Gloebit takes a 2% fee out of each transaction.  For example, if the customer purchases an item for 100G, the customer will pay 100G, the application will 98G as the merchant, and Gloebit will receive 2G for providing the service.
      </p>

      <h2>Selling Gloebits</h2>
      <p>
        We do not charge our developers/merchants a fee to sell gloebits.  Gloebits are sold at a slightly lower price than the purchaser pays.  This margin covers payment processing fees, fraud and other costs.  In addition, the larger the bundle of gloebits purchased, the smaller this margin, encouraging consumers to maintain a higher gloebit balance to the benefit of all our merchant partners.  Gloebits are currently sold at 250G for US$1.
      </p>

      <h2>Fee on Disbursements</h2>
      <p>
        We charge the greater of $1 or the cost to us for withdrawing proceeds via the method you select.
      </p>

      <h2>Fee on User-to-User Gloebit Transactions</h2>
      <p>
        User-to-user transactions are not yet part of Gloebit's off-the-shelf service offering, however, this can be enabled for your application.  For user-to-user transactions, the user-merchant pays a fee set by the application, and Gloebit and the application share the fee proceeds.  Enabling user-to-user transactions creates a new revenue stream for your application.  If you'd like to enable user-to-user transactions within your application, please <a href="https://www.gloebit.com/contact-us/" <!--target="_blank"-->>contact us</a>.
      </p>

      <h2>Identity, Character, & Inventory Service Fees</h2>
      <p>
        We do not currently charge any fees for use of our non-digital-currency services.  It is our goal that these will remain free services.  If Gloebit experiences an extremely high use of these services as compared to our digital currency service, we will approach our community of partners with a proposal to institute reasonable fees to cover the costs of these services.
      </p>

    </section>

    <section class="wrapper anchor" id="frees">
      <h1>Traditional Fees Gloebit Does Not Charge</h1>
      <p>
        There are many standard fees in the payments, in-app purchasing, and digital currency spaces that Gloebit does not charge.  These costly fees can have a big impact on your bottom line, and are another great reason to skip the fees and go with Gloebit.
      </p>

      <h2>30% Transaction Fee</h2>
      <p>
        The industry standard for in-app transactions is 30%.  Gloebit wants you to keep more of a cut from your sales.  We charge 2%.
      </p>

      <h2>Membership Fees</h2>
      <p>
        Gloebit does not charge any monthly or annual membership fees to use our service.  We want you to try it and learn for yourself how great Gloebit is, and we only want to make money when our customers make money.  We're not a gym, we're a service provider.
      </p>

      <h2>Flat Fees on Payments</h2>
      <p>
        Many payment methods charge a flat fee of $0.30 or more on every transaction.  Gloebit absorbs this traditional payment fee in the margin we make on gloebit sales.  We have built an efficient, low-cost transaction engine for gloebits, enabling us to provide you with micro-transactions as small as 1G, or roughly $0.004, while only charging a 2% fee.
      </p>

      <h2>Chargeback Fees</h2>
      <p>
        When a consumer claims a charge to a credit card or other payment method was fraudulent, most payment providers not only take back the payment, but also charge a chargeback fee of $10-$25 per chargeback.  Gloebit is handling these payments, and we are absorbing these chargeback fees.  We may need to reclaim fraudulently spent gloebits, but we do not pass chargeback fees through to a merchant/developer.
      </p>

    </section>

    {% include footer_scripts.html %}
    
  </body>
</html>
