---
layout: dev
no_sections: true
---

<div class="posts">
  {% for post in site.posts %}
    <section class="post wrapper">
      
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      
      <!-- if author exists, display author info -->
      {% assign author = site.authors[post.author] %}
      {% if author %}
      <div class="author">
        <p>
          <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40" />
          <span class="author">{{ author.display_name }}</span>
        </p>
      </div>
      {% endif %}
      <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
      </div>

      <div class="entry">
        {% if post.use_excerpt_separator %}
          {{ post.excerpt }}  <!-- excerpt - emoji do not work -->
        {% elsif post.excerpt_word_count %}
          {{ post.content | truncatewords:post.excerpt_word_count }}  <!-- truncate, not excerpt - emoji - word count from post -->
        {% else %}
          {{ post.content | truncatewords:site.default_excerpt_word_count }} <!-- truncate, not excerpt - emoji - word count from config.yml -->
        {% endif %}
      </div>
      
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </section>
  {% endfor %}
</div>
