---
title: OpenSim Gloebit Money Module Beta
page_css: /stylesheets/opensim.css

description: "Get beta access to Gloebit's OpenSim integration.  The Gloebit Money Module is an easily installable module for Open Simulator to enable payments."
keywords: "Gloebit, OpenSim, OpenSimulator, Money Module, OpenSim Module, Beta, OpenSim integration, beta access, beta signup, beta grids, guide, instructions, integration, Register, OpenSim currency"

contains_social_buttons: true
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="#signup">Beta Signup</a></li>
        <li><a href="#test">Beta test regions</a></li>
        <li><a href="#details">Money Module Details</a></li>
        <li><a href="#feedback">Feedback</a></li>
      </ul>
    </nav>

    <section class="wrapper anchor" id="intro">
      <h1>{{ page.title }}</h1>
      <p>
        <b>We're aiming to unite all of OpenSim and the hypergrid on a single currency, and we need your help.</b>
      </p>
      <p>
        We've taken our drop-in money module add-on for OpenSim as far as we can in our silo.  Now we're hoping grid owners and users will help us carry our beta through to launch.  Help us streamline the install and configuration process, test transactions, and review transaction history records.  Let us know if we're missing necessary functionality, and what else you'd like to see.  We're not perfect... yet.  Help us get there.
      </p>
    </section>

    <section class="wrapper anchor" id="signup">
      <h1>Beta Signup</h1>

      <aside>Our beta testing grids will be first in line when we start moving grids to live payments.</aside>
      <p>
        <b>Sign up for access to our beta money module.</b>  We'll slowly roll out beta access only to those grids who have signed up here.  It's the only way to make sure we've developed the features that your customers want.  When you get access, you'll be able to enable the module on a single region or your whole grid.
      </p>
      
      <a href="/opensim/beta-signup/">Sign up for beta access</a>
    
      <h2 id="announcements">Announcements</h2>
      <p>Sign up to get the latest announcements from Gloebit, such as when we're ready to launch our money module with live payments.</p>
      <a href="/email-signup/">Subscribe to Gloebit announcements</a>

    </section>

    <section class="wrapper anchor" id="test">
      <h1>Beta Test Regions</h1>
      <p>
        <a href="http://www.hyperica.com/our-hyperport/">Hyperica</a> has some great instructions if you're new to OpenSim and want to test out the Gloebit Money Module.
      </p>

      <ul>
          <li>Hyperica hg.hyperica.com:8022 - <a href="http://www.hyperica.com/our-hyperport/">connection instructions</a></li>
          <li><a href="http://zetaworlds.com/">ZetaWorlds</a> hg.zetaworlds.com:80:Gloebits 1 and hg.zetaworlds.com:80:Gloebits 2 - Instructions to <a href="http://zetaworlds.com/user/register">register</a> and <a href="http://zetaworlds.com/how-to-connect">connect</a> to ZetaWorlds
      </ul>
      
      <p>Hosting providers who have integrated Gloebit with their OpenSim builds</p>
      <ul>
        <li><a href="http://www.dreamlandmetaverse.com/">Dreamland Metaverse</a></li>
        <li><a href="https://zetamex.com/">Zetamex</a></li>
      </ul>
      
      <p>Check back often to discover the newest regions which have enabled the Gloebit Money Module for beta testing.</p>

    </section>

    <section class="wrapper anchor" id="details">
      <h1>Money Module Details</h1>

      <p>
        We'll be testing the money module in beta with sandboxed payments until we feel the product is secure enough for live payments and cashouts, and the feature set is not missing any vital functionality.
      </p>
      <aside>Get all the <a href="/opensim/details">details</a> on the module.</aside>
      <p>
        We've done our best to build a full currency solution for OpenSim which is easy to install, configure, and use.  Avatars will complete a simple, <b>1-step web authorization</b> prior to their first transaction on a grid, and then all the built in OpenSim transactions should work with that user's Gloebit account and Gloebit balance.
      </p>
    </section>
    
    <section class="wrapper anchor" id="feedback">
      <h1>Feedback</h1>
      <p>We want your feedback.  Help us make this module great.</p>
      <ul>
        <li>To report bugs or make feature reqeusts or ask questions, please email <a href="mailto:OpenSimBeta@gloebit.com">OpenSimBeta@gloebit.com</a>.</li>
        <li>To share excitement, and more general feedback, join the discussion on our blog post for our OpenSim beta launch.  (Blog post coming soon.  Sign up for our emails via the link below to be alerted when the blog post is up, and check out our other <a href="/blog/">blog posts</a>.)</li>
        <li>Don't forget to <a href="/email-signup/">sign up</a> for our email list.</li>
        <li>Follow us on social media: {% include social_follow_buttons.html %}
        </li>
      </ul>
      <p>Here's some of what we've already heard.</p>
      <ul>
        <li><a href="http://zetaworlds.com/blog/view/say-hello-to-jackal">"Similar to OMC, but features a much more streamlined process and easier to use interface"</a> - ZetaWorlds</li>
        <li><a href="http://www.hypergridbusiness.com/2016/02/hosting-firms-grids-split-on-gloebits/">“I think Gloebit will become a good and attractive alternative money solution,”</a> - <a href="https://ch.linkedin.com/in/dierk-brunner-3a37b811">Dierk Brunner</a>, CEO, Dreamland Metaverse</li>
        <li><a href="http://www.hypergridbusiness.com/2016/02/how-to-use-gloebits/">"I can see a bunch of Gloebit-enabled mall regions around the hypergrid, where I can teleport from one to another to another and just shop. And shop. And shop."</a> - <a href="https://www.linkedin.com/in/mariakorolov">Maria Korolov</a>, editor and publisher, Hypergrid Business</li>
        
      </ul>
      
    </section>

    <!-- Footer -->
    {% include footer_scripts.html %}

  </body>
</html>
