---
title: OpenSim Gloebit Money Module Beta
page_css: /stylesheets/opensim.css

description: "Get beta access to Gloebit's OpenSim integration.  The Gloebit Money Module is an easily installable module for Open Simulator to enable payments."
keywords: "Gloebit, OpenSim, OpenSimulator, Money Module, OpenSim Module, Beta, OpenSim integration, beta access, beta signup, beta grids, guide, instructions, integration, Register, OpenSim currency"

contains_social_buttons: true
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <nav>
      <ul>
        <li><a href="#enable">Enable Gloebit</a></li>
        <li><a href="#announcements">Announcements</a></li>
        <li><a href="#partners">Partners</a></li>
        <li><a href="#details">Money Module Details</a></li>
        <li><a href="#feedback">Feedback</a></li>
      </ul>
    </nav>

    <section class="wrapper anchor" id="intro">
      <h1>{{ page.title }}</h1>
      <p>
        <b>We're aiming to unite all of OpenSim and the hypergrid on a single currency, and we need your help.</b>
      </p>
      <p>
        Over twenty OpenSim grids are now partially or fully Gloebit enabled and hundreds of avatars are using gloebits for commerce.  Take a look at some of our <a href="https://medium.com/@colosi/gloebit-continues-fast-growth-as-opensim-vr-currency-88179c38e7ae">data from March</a>.  Help us grow the Gloebit ecosystem.
      </p>
      <p>
        We're always refining features.  Let us know if we're missing functionality that you'd like to see.  We're not perfect... yet.  Help us get there.
      </p>
    </section>

    <section class="wrapper anchor" id="enable">
      <aside>You can enable the module on a single region or your whole grid.</aside>
      <h1>Enable Gloebit On Your Space Today</h1>
      <p>
        <b>Your users will love it.</b>
      </p>
      <a href="/opensim/configuration-instructions/">Enable the Gloebit Money Module</a>
    </section>
    
    <section class="wrapper anchor" id="Announcements">
      <h2 id="announcements">Announcements</h2>
      <p>Subscribe to the <a href="/email-signup/">Gloebit announcements email list</a> and join our <a href="https://plus.google.com/communities/106347541532790842839">G+ community</a> to get the latest announcements from Gloebit.</p>
    </section>

    <section class="wrapper anchor" id="partners">
      <h1>Partners</h1>
      <p>
        <a href="http://www.hyperica.com/our-hyperport/">Hyperica</a> has some great instructions if you're new to OpenSim and want to test out the Gloebit Money Module.
      </p>
      
      <aside>Try out Gloebit with one of our existing partners.</aside>
      <p>
        Take a look at our <a href="https://www.gloebit.com/apps/">app discovery page</a> to see some of the grids which have enabled Gloebit for commerce.
      </p>
      
      <p>Hosting providers who have integrated Gloebit with their OpenSim builds</p>
      <ul>
        <li><a href="http://www.dreamlandmetaverse.com/">Dreamland Metaverse</a></li>
        <li><a href="https://zetamex.com/">Zetamex</a></li>
        <li><a href="http://digiworldz.com/">DigiWorldz</a></li>
      </ul>
      
      <p>If you are an OpenSim hosting provider prepared to install and configure Gloebit for your customers and you are not listed above, <a href="https://www.gloebit.com/contact-us/">contact us</a> so we can add you to the list.</p>

    </section>

    <section class="wrapper anchor" id="details">
      <h1>Money Module Details</h1>

      <aside>Get all the <a href="/opensim/details">details</a> on the module.</aside>
      <p>
        We've done our best to build a full currency solution for OpenSim which is easy to install, configure, and use.  Avatars will complete a simple, <b>1-step web authorization</b> prior to their first transaction on a grid, and then all the built in OpenSim transactions should work with that user's Gloebit account and Gloebit balance.
      </p>
    </section>
    
    <section class="wrapper anchor" id="feedback">
      <h1>Feedback</h1>
      <p>We want your feedback.  Help us make this module great.</p>
      <ul>
        <li>To report bugs or make feature reqeusts or ask questions, please email <a href="mailto:OpenSimBeta@gloebit.com">OpenSimBeta@gloebit.com</a>.</li>
        <li>Don't forget to <a href="/email-signup/">sign up</a> for our email list.</li>
        <li>Follow us on social media: {% include social_follow_buttons.html %}
        </li>
      </ul>
      <p>Here's some of what we've already heard.</p>
      <ul>
        <li><a href="http://blog.zetamex.com/posts/2017/01/a-new-era-for-hypergrid-shoppers/">"To the rescue comes Gloebit, a new currency specifically designed for the hypergrid. Gloebit offers stability, usability and a level of integration that has not been seen in OpenSim thus far."</a> - Zetamex</li>
        <li><a href="http://zetaworlds.com/blog/view/say-hello-to-jackal">"Similar to OMC, but features a much more streamlined process and easier to use interface"</a> - ZetaWorlds</li>
        <li><a href="http://www.hypergridbusiness.com/2016/02/hosting-firms-grids-split-on-gloebits/">“I think Gloebit will become a good and attractive alternative money solution,”</a> - <a href="https://ch.linkedin.com/in/dierk-brunner-3a37b811">Dierk Brunner</a>, CEO, Dreamland Metaverse</li>
        <li><a href="http://www.hypergridbusiness.com/2016/02/how-to-use-gloebits/">"I can see a bunch of Gloebit-enabled mall regions around the hypergrid, where I can teleport from one to another to another and just shop. And shop. And shop."</a> - <a href="https://www.linkedin.com/in/mariakorolov">Maria Korolov</a>, editor and publisher, Hypergrid Business</li>
        
      </ul>
      
    </section>

    <!-- Footer -->
    {% include footer_scripts.html %}

  </body>
</html>
