

section.wrapper.blogHeader {
    border-bottom-width: 2px;
    background: linear-gradient(#DAF8DA, rgba(218, 248, 218, 0.1));
    padding-bottom: 20px;
}
section.wrapper.blogHeader h1 {
    margin-bottom: 0px;
    margin-right: 20px;
    display: inline-block;
}

div.gloebit-follow-container {
    display: inline-block;
}

div.gloebit-follow {
    display: inline-block;
    height: 26px;
}

div.gloebit-follow .fb-follow span {
    top: -6px;
}

