
body {
    background-color: rgba(192,192,192,0.1);
}

header,
header+.clone {
    margin-bottom: 10px;
}

#main {
    padding-top: 2px;  /* Needed to collapse margins equally. */
}

.wrapper {
    width: 100%;
    max-width: 960px;
}

section {
    width: 720px;
    padding-bottom: 0;
    margin-bottom: 20px;
}

section:after {
    display: block;
    width: 100%;
    content: " ";
    border-bottom: 1px solid rgba(128,128,128,1);
    box-shadow: 0 0 8px rgba(134,194,0,0.5);
}

section:last-of-type,
section:last-of-type article {
    margin-bottom: 12px;
}

section:last-of-type:after {
    display: none;
}

#intro h1 {
    background-color: white;
    font-size: 2.4rem;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(128,128,128,0.25);
}

article,
div.endpoint {
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(128,128,128,0.5);
    margin-bottom: 20px;
}

article > *,
div.endpoint > * {
    background-color: white;
    border: 1px solid rgba(128,128,128,0.5);
    padding: 8px 10px 0;
}

article h1,
article > h2,
div.endpoint h2 {
    border-bottom: 0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
}

article h1 {
    background-color: rgba(134,194,0,1);
    padding-bottom: 10px;
}

article > h2 {
    background-color: rgba(63,150,211,0.9);
    padding-bottom: 8px;
}

article .body > h3 {
    padding-left: 2px;
    border-bottom: 1px black solid;
    margin-bottom: 10px;
}

article .body > h3 ~ p {
    margin-left: 10px;
    margin-right: 10px;
}

div.endpoint h2 {
    position: relative;
    background-color: black;
    color: white;
    padding-bottom: 8px;
}

article .body,
div.endpoint > .body {
    border-top: 0;
    border-radius: 0 0 10px 10px;
}

article table,
article th,
article td {
    border-collapse: collapse;
    border: 1px solid black;
}

article table {
    width: 80%;
    margin: 0 auto 10px;
}

article td {
    line-height: 1.3;
    padding: 5px 10px;
}

article td+td {
    text-align: center;
}

header .wrapper {
    position: relative;
}

nav {
    display: block;
    position: absolute;
    top: 62px;
    left: 731px;
    width: 206px;
    height: calc(100vh - 81px);
    background-color: white;
    font-size: 1rem;
    padding: 5px 10px 5px 5px;
    border: 1px solid rgba(128,128,128,0.5);
    box-shadow: 0px 0px 3px rgba(128,128,128,0.5);
    border-radius: 10px;
}

#nav-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

nav h3 {
    color: #444;
    padding-left: 4px;
    border-bottom: 1px solid #444;
    margin: 2px 0;
}

nav ul + h3 {
    margin-top: 12px;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

nav .section {
    padding-top: 4px;
}

nav a {
    display: block;
    color: #444;
}

nav .section > a {
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0 5px;
}

nav .article > a,
nav .endpoint > a {
    padding: 0 13px;
}

nav a:hover {
    font-weight: 700;
}

nav .section > a:hover {
    background-color: rgba(134,194,0,0.75);
}

nav .article > a:hover {
    background-color: rgba(63,150,211,0.75);
}

nav .endpoint > a:hover {
    color: white;
    background-color: black;
}

nav li {
    display: block;
    color: black;
    white-space: nowrap;
}

div.endpoint h2 span + span {
    color: #888;
    font-size: 1.4rem;
}

div.endpoint h2 span + span + span {
    float: right;
    color: rgba(134,194,0,1);
}

div.endpoint h3,
div.endpoint h4 {
    color: black;
    font-weight: 700;
}

div.endpoint h3 {
    padding: 5px 10px;
    background-color: rgba(128,128,128,0.6);
    border-radius: 8px 8px 0 0;
    margin: 35px 0 10px;
}

div.endpoint h3 span + span {
    float: right;
    color: rgba(255,255,255,0.8);
}

div.endpoint h3 span span {
    display: none;
    font-size: 1.1rem;
    color: rgba(134,194,0,1);
}

div.endpoint h4 {
    padding-left: 2px;
    border-bottom: 1px solid black;
    margin-right: 4px;
    margin-left: 4px;
}

div.endpoint hr {
    display: none;
    color: rgba(0,0,0,0.5);
    margin: 18px 0;
}

div.endpoint p {
    margin-right: 6px;
    margin-left: 6px;
}

div.endpoint .body .body {
    padding: 0 10px;
}

.http {
    background-color: rgba(134,194,0,0.25);
    border: 1px solid rgba(134,194,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px;
}

.http * {
    display: table-cell;
    position: relative;
    line-height: 1.4rem;
    vertical-align: middle;
    padding: 10px;
}

.http *:before {
    position: absolute;
    top: -8px;
    color: white;
    background-color: rgba(134,194,0,1);
    font-size: 1rem;
    line-height: 1.3rem;
}    

.http .title {
    text-align: center;
    line-height: 1.25rem;
    font-weight: 700;
    padding: 0 8px 0 0;
}

.http .method {
    width: 16%;
    text-align: center;
    background-color: rgba(134,194,0,0.5);
    border: 1px solid rgba(134,194,0,1);
}

.http .method:before {
    content: "METHOD";
    left: calc(50% - 3rem);
    width: 6rem;
}

.http .url {
    width: 77%;
    border: 1px solid rgba(134,194,0,1);
}

.http .url:before {
    content: "URI";
    left: 8px;
    width: 4rem;
    text-align: center;
}

.bearer p {
    margin-bottom: 8px;
}

.bearer .header {
    display: block;
    font-size: 1.2rem;
    padding: 0 16px;
}

.bearer .header + p {
    margin-top: 8px;
}

.bearer .scope {
    display: inline-block;
    background-color: rgba(134,194,0,0.25);
    border: 1px solid rgba(134,194,0,0.5);
    border-radius: 5px;
    padding: 11px 8px;
    margin-top: 16px;
    margin-left: 16px;
}

.bearer .scope span {
    background-color: white;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 4px 10px 5px;
    border: 2px solid rgba(134,194,0,1);
    border-radius: 1px;
    margin-left: 8px;
}

div.endpoint table {
    border-collapse: collapse;
    width: 90%;
    line-height: 1.45rem;
    margin: 0 auto 16px;
}

div.endpoint table th, .endpoint table td {
    vertical-align: top;
    padding: 2px 5px 3px;
    border: 1px solid #444;
}

article th,
div.endpoint th {
    color: black;
    background-color: #aaa;
}

div.endpoint .parameters tr:nth-of-type(odd) {
    background-color: #eee;
}

div.endpoint .result tr:nth-of-type(even) {
    background-color: #eee;
}

div.endpoint tr td:first-of-type {
    width: 20%;
}

#auth-code + article img {
    float: right;
    width: 50%;
    padding: 1px 8px;
    margin-top: -5px;  /* For aesthetics only... */
    margin-left: 13px;
}

#user-ids + article .uuid,
#character-ids + article .uuid {
    display: inline-block;
    background-color: rgba(128,128,128,0.1);
    line-height: 1.5rem;
    margin: 0 0 1rem 1rem;
    padding: 0 5px;
    border: 1px solid rgba(128,128,128,0.2);
}

#transact .endpoint .parameters td:first-of-type {
    width: 32%;
}
