
header + div {
    height: 60px;
}

section.wrapper {
    margin-bottom: 35px;
}

section h1 {
    text-align: center;
    /* background-color: rgba(134,194,0,0.05); */
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(134,194,0,0.4);
    /* box-shadow: 0 2px 2px 0 rgba(134,194,0,0.25); */
    margin-bottom: 1.25rem;
}

/* White-on-green oval link buttons for all sizes.  Many are only >480px. */
#services div a,
#benefits p a,
#started div+p a,
#consumer p a,
#monetizing > p:last-of-type a,
#pricing p a,
#integration > div:first-of-type p:last-of-type a,
#integration > div:first-of-type+div a,
#integration > p a {
    color: white;
    background-color: #86c200;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(32,32,32,0.5);
    padding: 2px 10px 4px;
    border: 1px solid rgba(117,176,0,1);
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(117,176,0,0.6) inset;
}

/* Temporary space until we add hero slides. */
#services {
    margin-top: 35px;
}

#services {
    text-align: center;
}

#services div {
    display: inline-block;
    vertical-align: top;
    width: 45.000%;
    min-width: 347px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(134,194,0,0.5);
    margin: 10px 8px;
}

/* Restore bottom margin (1rem) of last div, add a bit for the box-shadow. */
#services div:last-of-type {
    margin-bottom: 1.5rem;
}

#services div p {
    margin-bottom: 0.125rem;
}

#services div p+p {
    border-top: 1px solid rgba(134,194,0,0.5);
    margin-bottom: 0.5rem;  /* Adjust for a's relative offset below. */
}

#services div a {
    position: relative;
    top: 0.375rem;   /* If changing, adjust div p+p's margin-bottom above. */
}

#benefits {
    text-align: center;
}

#benefits div {
    display: inline-block;
    padding: 5px 30px;
}

#benefits h2 {
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 12px;
}

#benefits ul {
    list-style: none;
    padding: 0;
}

#benefits li a {
    padding: 0 5px 2px;
    border-radius: 5px;
}

#benefits li a:hover {
    background-color: rgba(134,194,0,0.20);
    box-shadow: 0 0 6px rgba(0,0,0,0.08) inset;
}

#started div {
    position: relative;
    width: 672px;
    margin: 0 auto;
}

#started div h3 {
    float: left;
    padding-top: 3px;
    margin-right: 3%;
    margin-left: 9%;
}

#started div ol {
    float: left;
}

#started div h2 {
    color: rgba(134,194,0,1);
    position: absolute;
    top: 34%;
    left: 4%;
}

#started div:after {
    display: table;
    content: "";
    clear: both;
}

#started div+p {
    text-align: center;
}

#consumer h1+p {
    float: left;
    max-width: 56%;
}

#consumer img {
    float: right;
    box-sizing: border-box;
    max-width: 40%;
    margin: 10px 2%;
}

#consumer p:last-of-type {
    display: block;
    text-align: center;
}

#monetizing h2 {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    padding-right: 3%;
    margin-left: 4.5%;
}

#monetizing div {
    display: inline-block;
    width: 55%;
    margin-right: 4.5%;
}

#monetize-consumer p:first-of-type {
    margin-bottom: 6px;
}

#monetize-consumer img {
    margin: 0 0 12px 3%;
}

#monetize-merchant p:first-of-type {
    float: left;
    max-width: 60%;
}

#monetize-merchant img {
    float: right;
    max-width: 35%;
    padding: 5px;
    margin-top: 4px;
    margin-left: 1%;
}

#monetizing>p:last-of-type {
    text-align: center;
}

#monetizing>p:last-of-type a {
    margin-bottom: 20px;
}

#pricing {
    text-align: center;
}

#pricing h1+h2 {
    margin-bottom: 10px;
}

#pricing img {
    width: 300px;
    box-shadow: none;
}

#pricing a+h2 {
    color: rgba(134,194,0,1);
    text-shadow: 1px 1px rgba(0,0,0,0.35);
    margin-top: 12px;
    margin-bottom: 2px;
}

#pricing p a {
    margin-bottom: 20px;
}

#integration {
    text-align: center;
}

#integration h1 {
    margin-bottom: 30px;
}

#integration > div {
    display: inline-block;
    float: left;
    width: 40%;
    padding: 10px 5% 0;
}

#integration div+div+div {
    float: none;
    width: 80%;
    margin: 40px auto 0;
}

#integration div h2 {
    /*
      text-decoration: underline;
    */
    padding-bottom: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 12px;
}

#integration p {
    margin: 0;
}

#integration p+p {
    margin-top: 12px;
}

#integration .container {
    display: table;
    float: none;
    width: 84%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px auto;
}

#integration .container div {
    display: table-row;
    border: 1px solid rgba(134,194,0,0.5);
}

#integration .container div div {
    display: table-cell;
    vertical-align: middle;
    width: 28%;
    height: 60px;
    border: 0;
}

#integration .container img {
    display: block;
    vertical-align: middle;
    max-width: 150px;
    box-shadow: none;
    margin: 0 auto;
}

#integration ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#oss {
    text-align: center;
}

@media print, screen and (max-width: 960px) {
    header + div {
        height: 39px;
    }
    header + div + section {
        border-top: none;
    }

    #services div {
        width: 45.500%;
        padding: 8px;
        margin: 8px 6px;
    }

    #monetize-consumer img {
        margin-left: 1.5%;
    }

    #integration > div {
        width: 48%;
        padding: 10px 1% 0;
    }
}

@media print, screen and (max-width: 720px) {
    #services div {
        width: 50%;
    }

    #started div {
        width: 100%;
        text-align: center;
    }

    #started div h3 {
        float: none;
        margin: 0 0 8px;
    }

    #started div ol {
        float: none;
        display: inline-block;
        text-align: left;
        margin-left: 2.5%;
    }

    #started div h2 {
        position: static;
    }

    #consumer p {
        padding: 0 8px;
    }

    #consumer h1+p {
        float: none;
        max-width: none;
    }

    #consumer img {
        display: block;
        float: none;
        max-width: none;
        margin: 10px auto;
    }

    #monetize-consumer img {
        margin-left: 0;
    }

    #monetize-merchant p:first-of-type {
        float: none;
        max-width: none;
    }

    #monetize-merchant img {
        display: block;
        float: none;
        max-width: none;
        padding: 5px;
        margin: 0 auto;
    }

    #pricing img {
        width: 250px;
    }

    #integration h1 {
        margin-bottom: 0;
    }

    #integration > div {
        float: none;
        width: 70%;
        min-width: 315px;
        padding: 0;
        margin: 30px auto 0;
    }

    #integration > div p:first-of-type br,
    #integration > div p:first-of-type+p br {
        display: none;
    }

    #integration .container {
        font-size: 14px;
    }

    #integration .container img {
        max-width: 100px;
    }
}

@media print, screen and (max-width: 480px) {
    /* Oval buttons that will wrap. */
    #benefits p a,
    #started div+p a,
    #consumer p a,
    #monetizing > p:last-of-type a,
    #pricing p a,
    #integration > p a
    {
        display: inline-block;
        max-width: 80%;
        line-height: 1.36rem;
    }

    section h1 {
        text-align: left;
        padding-left: 2px;
    }

    #services > p {
        text-align: left;
        padding: 0 4px;
    }

    #services div {
        display: block;
        width: auto;
        max-width: 360px;
        margin: 12px auto;
        /*
        width: 100%;
        min-width: 0;
        padding: 10px 0 0;
        border: 0 solid rgba(64,64,64,0.25);
        border-top-width: 1px;
        border-radius: 0px;
        box-shadow: none;
        margin: 0 0 15px;
        */
    }

/*
    #services div h2 {
        text-decoration: underline;
    }

    #services div p:first-of-type {
        text-decoration: underline;
    }

    #services div p+p {
        border: 0;
    }
*/

    #started div ol {
        margin-left: 0;
    }

    #consumer p {
        padding: 0 4px;
    }

    #monetizing h2 {
        display: block;
        width: initial;
        padding: 0 4px;
        margin-left: 0;
    }

    #monetizing div {
        display: block;
        width: 100%;
        margin-right: 0;
    }

    #monetize-consumer img {
        max-width: 98%;
    }

    #monetizing p {
        padding: 0 4px;
    }

    #pricing img {
        width: 200px;
    }

    #integration div+div+div,
    .container + p {
        width: initial;
        text-align: left;
        padding: 0 4px;
    }

    .container p,
    .container li {
        text-align: center;
    }

    #integration .container {
        width: initial;
    }

    #integration p:last-of-type {
        text-align: center;
    }

    #oss p {
        text-align: left;
        padding: 0 4px;
    }
}

@media print, screen and (max-width: 390px) {
    #services div {
        margin: 12px 6px;
        min-width: 0;
    }
}