
div.author {
  display: block;
}

div.author-profile {
  display: inline-block;
}

div.author-follow-container {
  display: inline-block;
}

div.author-follow {
  display: block;
  height: 26px;
}

/* necessary to fix fb button heights */
.fb-follow span {
  top: -4px;
}

.fb-like span {
  top: -6px;
}

.fb-share-button span {
  top: -6px
}


