
div.author {
  display: block;
}

div.author-profile {
  display: inline-block;
}

div.author-follow-container {
  display: inline-block;
}

div.author-follow {
  display: block;
  height: 26px;
}

div.gloebit-follow-container {
    display: inline-block;
}

div.gloebit-follow {
    display: inline-block;
    height: 26px;
}

/* necessary to fix fb button heights */
.fb-follow span {
  top: -4px;
}

.fb-like span {
  top: -6px;
}

.fb-share-button span {
  top: -6px
}

section.wrapper.blogHeader {
    border-bottom-width: 2px;
    background: linear-gradient(#DAF8DA, rgba(218, 248, 218, 0.1));
    padding-bottom: 20px;
}

section.wrapper.blogHeader h1 {
    margin-bottom: 0px;
    margin-right: 20px;
    display: inline-block;
}
section.wrapper.blogHeader h2 {
    margin-bottom: 0px;
}

div.gloebit-follow .fb-follow span {
    top: -6px;
}

/* fix rounded corners on LinkedIn iframe */
div.author-profile iframe {
    border-radius: 8px;
}

/*********************** MEDIA SECTION ******************************/
/* everything avove for 961px and above */

/* Screen width from 0-399px - really from 320px */
@media print, screen and (max-width: 399px) {

/* attempting to shrink LinkedIn profile on iphone */
div.author-profile {
  -moz-transform: scale(0.85, 0.85);
  -webkit-transform: scale(0.85, 0.85);
  -o-transform: scale(0.85, 0.85);
  -ms-transform: scale(0.85, 0.85);
  transform: scale(0.85, 0.85);
  -moz-transform-origin: left;
  -webkit-transform-origin: left;
  -o-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}


