
body {
    padding: 0;
    margin: 0;
}

#vertical-logo img {
    float: left;
    position: relative;
    width: 100px;          /* set width same as header img width */
    margin-bottom: -92px;  /* negative of resulting image height */
    z-index: 199;
}

header, footer {
    width: 100%;
    float: none;
    position: static;
    background-color: #fcfcfc;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
}

header {
    margin-bottom: 1rem;
}

header img {
    float: left;
    height: 50px;
    box-shadow: initial;
    background-color: #86c200;
    margin-right: 12px;
}

header h1 {
    display: inline-block;
    padding: 5px 0;
    margin: 5px 0px;
}

header p {
    display: inline-block;
    font-size: initial;
    border-radius: 5px;
    margin: 0.5rem 0.5rem;
    border: 1px solid transparent;
}

header p a {
    display: block;
    color: #85c000;
    padding: 0.25rem 0.5rem;
}

header p:hover {
    background-color: #ececec;
}

header p.active {
    background-color: #fff;
    border: 1px solid #85c000;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

header #section-nav {
    float: right;
    position: relative
}

.drop-down {
    display: inline-block;
}

.caret {   /* Nice little down-arrow trick borrowed from haxe.org */
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: center;
    border-top: 4px solid #85c000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.drop-down-menu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #85c000;
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.10);
    margin: -0.5rem 0.5rem 0.5rem;
}

.drop-down-menu li:hover {
    color: #85c000;
    background-color: #ececec;
}

#section-nav .drop-down-menu {
    right: 0px;
    white-space: nowrap;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}

header.invisible {
    display: none;
    position: static;
    visibility: hidden;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    font-size: initial;
    margin: 0.5rem 0.05rem;
}

footer a {
    color: #85c000;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

footer a:hover {
    color: #fcfcfc;
    background-color: #85c000;
}

.anchor:before {
    display: block;
    width: 0;
    content: "";
/*  These are set via javascript in gbdev.js.  Look for headerHeight.
    padding: 50px 0 0;
    margin: -50px 0 0;
*/
}

section {
    float: none;
    position: static;
}

p, li {
    font-size: 1.0rem;
}

img {
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
}

.social-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-tile {
    display: inline-block;
    margin-left: 0.25rem;
    padding: 0;
}

.social-tile:first-child {
    margin-left: 1rem;
}

.social-tile a {
    background-color: #4096d3;
/*
    background-color: #696969;
*/
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 1rem;
    height: 1.67rem;
    line-height: 1.67rem;
    width: 1.67rem;
    text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
    padding: inherit;
}

.social-tile a:hover {
    background-color: #70b2e0;
/*
    background-color: #7f7f7f;
*/

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.for-validation-only {
    display: none;
}


@media print, screen and (max-width: 960px) {
    header {
        padding-right: 0;
    }

    section {
        padding: 20px;
        margin: 0 0 20px;
    }
}

@media print, screen and (max-width: 480px) {
    #vertical-logo, header.floating {
        display: none;
    }
}
