/* Comment out whichever one we don't use. */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,700italic);

html {
    /*
      Note: We set the root font-size to 14px here so 'rem' will be based on
      14px.  However, we set font-size to 1.17rem (16px) for the body.  Yes,
      it is a bit cockeyed...
    */
    font: 14px/1.5 "Open Sans", sans-serif;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: #777;
    font-size: 1.17rem;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

h1 {
    color: #222;
    font-size: 2.0rem;
}

h2 {
    color: #393939;
    font-size: 1.6rem;
}

h3, h4, h5, h6 {
    color: #494949;
}

h3 {
    font-size: 1.3rem;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 16px;
}

p, ul, ol {
    margin: 0 0 16px;
}

a {
    color: #3f96d3;
    text-decoration: none;
}

img {
    max-width: 100%;
}

section {
    padding-bottom: 50px;
}

.wrapper {
    width: 860px;
    margin: 0 auto;
}

header, footer {
    width: 100%;
    float: none;
    position: static;
    background-color: #fcfcfc;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
}

header {
    margin-bottom: 20px;
}

header img {
    float: left;
    height: 50px;
    box-shadow: initial;
    background-color: #86c200;
    margin-right: 12px;
}

header h1 {
    display: inline-block;
    padding: 5px 0;
    margin: 5px 0px;
}

header .drop-down {
    display: inline-block;
    position: relative;    /* So drop-down can position absolute on it. */
    margin: 0 10px;
}

header .drop-down#section-nav {
    float: right;
    position: relative;
}

header .drop-down p {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 8px 0 0;
    z-index: 99;   /* Keep hover grey behind active drop-down-menu... */
}

header .drop-down p:hover {
    background-color: #ececec;
}

header .drop-down p.active {
    background-color: #fff;
    border: 1px solid rgba(134,194,0,1.0);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

header .drop-down p a {
    display: block;
    color: rgba(134,194,0,1.0);
    padding: 4px 16px 4px 8px;
}

header .drop-down#section-nav p a {
    padding: 4px 8px 4px 16px;
}

.caret {   /* CSS Arrow trick */
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 4px;
    width: 0;
    height: 0;
    border-top: 4px solid rgba(134,194,0,1.0);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

header .drop-down#section-nav .caret {
    right: initial;
    left: 4px;
}

header .drop-down .drop-down-menu {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    white-space: nowrap;
    background-color: #fff;
    padding: 10px;
    border: 1px solid rgba(134,194,0,1.0);
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.10);
    margin: 0;
    z-index: 100;
}

header .drop-down#section-nav .drop-down-menu {
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    margin-right: 0;
}

header .drop-down-menu li:hover {
    color: rgba(134,194,0,1.0);
    background-color: #ececec;
}

header.original {
    position: fixed;
    top: 0;
    z-index: 99;
}

header.clone {
    position: static;
    visibility: hidden;
}

header button {
    display: none;
    background-color: rgba(134,194,0,1);
    padding: 6px 6px;
    border-radius: 4px;
    margin-top: 10px;
}

header button span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

header button span+span {
    margin-top: 4px;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    margin: 8px 1px;
}

footer a {
    color: rgba(134,194,0,1.0);
    padding: 4px 8px;
    border-radius: 5px;
}

footer a:hover {
    color: #fcfcfc;
    background-color: rgba(134,194,0,1.0);
}

footer .social-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .social-tile {
    display: inline-block;
    margin-left: 4px;
    padding: 0;
}

footer .social-tile:first-child {
    margin-left: 16px;
}

footer .social-tile a {
    display: block;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #fff;
    background-color: #4096d3;
/*
    background-color: #696969;
*/
    border-radius: 3px;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

footer .social-tile a:hover {
    background-color: #70b2e0;
/*
    background-color: #7f7f7f;
*/

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.anchor:before {
    display: block;
    position: relative;
    width: 0;
    content: " ";
    visibility: hidden;
/*  These are set via javascript in gbdev.js.  Look for headerHeight.
    padding: 50px 0 0;
    margin: -50px 0 0;
*/
}

img {
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
}

.for-validation-only {
    display: none;
}

@media print, screen and (max-width: 960px) {
    header {
        padding-right: 0;
    }

    header>div>span {
        display: inline-block;
    }

    header.original {
        position: static;
    }

    header.clone {
        display: none;
    }

    header .drop-down {
        display: inline-block;
        width: 100%;
    }

    header .drop-down.collapsed {
        display: none;
    }

    header .drop-down:first-of-type {
        margin-top: 8px;
    }

    header .drop-down:last-of-type {
        margin-bottom: 8px;
    }

    header .drop-down#section-nav {
        float: none;
    }

    header .drop-down p {
        margin: 0;
    }

    header .drop-down p.active {
        border: none;
    }

    header .drop-down#section-nav p a {
        padding: 4px 16px 4px 8px;
    }

    header .drop-down#section-nav .caret {
        right: 4px;
        left: initial;
    }

    header .drop-down .drop-down-menu {
        position: relative;
        border: none;
        box-shadow: none;
    }

    header .drop-down .drop-down-menu {
        padding: 0;
        padding-left: 10px;
    }

    header .drop-down .drop-down-menu li {
        padding: 3px 10px;
    }

    header button {
        display: block;
        float: right;
    }
        
    section {
        padding: 0 20px 20px;
        margin: 0 0 20px;
    }
}

@media print, screen and (max-width: 480px) {
    #vertical-logo, header.floating {
        display: none;
    }
}

/* Junk Drawer - styles no longer user. */

#vertical-logo img {
    float: left;
    position: relative;
    width: 100px;          /* set width same as header img width */
    margin-bottom: -92px;  /* negative of resulting image height */
    z-index: 199;
}
