/* Comment out whichever one we don't use. */
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600); */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700,300italic,700italic);

html {
    /*
      Note: We set the root font-size to 14px here so 'rem' will be based on
      14px.  However, we set font-size to 1.17rem (16px) for the body.  Yes,
      it is a bit cockeyed...
    */
    font: 14px/1.5 "Open Sans", sans-serif;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    color: #555;
    font-size: 1.17rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    background-color: #e4e4e4; /* gray backgournd to page outside of wrapper content */
}

h1 {
    color: #222;
    font-size: 2.0rem;
}

h2 {
    color: #393939;
    font-size: 1.6rem;
}

h3, h4, h5, h6 {
    color: #494949;
}

h3 {
    font-size: 1.3rem;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 16px;
}

p, ul, ol {
    margin: 0 0 16px;
}

a {
    color: #3f96d3;
    text-decoration: none;
}

nav {
    /*
      Code in gbdev.js moves the <nav> section into the header.  In case
      the user has javascript disabled, hide the <nav> section.
    */
    display: none;
}

/* Set the wrapper sizing to border-box so padding and borders will be */
/* inside the 960px.  Makes things easier...                           */
.wrapper {
    width: 960px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* White background default for wrappered sections.                    */
/* Pad the sides of sections for nice offset from grey background.     */
/* Add a grey bottom border to the sections (all should be wrapper, so */
/* this selector should capture all those we care about.)              */
section.wrapper {
    background-color: white;
    padding: 20px 50px 32px;
    border-bottom: rgba(0,0,0,0.4) solid 2px;
}

/* Remove bottom border from last section, before the footer.          */
section.wrapper:last-of-type {
    border-bottom-width: 0;
}

/* If a <p> is the last element in a wrapped section, no bottom margin */
section.wrapper > p:last-child {
    margin-bottom: 0;
}

header, footer {
    width: 100%;
    float: none;
    position: static;
    background-color: black;
    box-shadow: 0 0 12px rgba(0,0,0,0.25);
}

/* For some reason, when header was fixed the height was same as the   */
/* image but when header is static the height ignores floating image.  */
/* Clearfix oddity?  Anyway, set height of header according to the     */
/* image height.  I added 1px because the black line below the image   */
/* sets it off nicely.                                                 */
header {
    min-height: 51px;
/*
    position: fixed;
    top: 0;
    z-index: 99;
*/
}

header img {
    float: left;
    height: 50px;
    box-shadow: initial;
    background-color: #86c200;
    margin-right: 12px;
}

header > div > div {
    display: inline-block;
    position: relative;    /* So drop-down can position absolute on it. */
    margin: 0 10px;
    z-index: 99;
}

header .drop-down#section-nav {
    float: right;
    position: relative;
}

header > div > div p {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    border: 1px solid transparent;
    margin: 8px 0 0;
    z-index: 99;   /* Keep hover grey behind active drop-down-menu... */
}

header > div > div p:hover {
    background-color: #ececec;
}

header > div > div p.active {
    background-color: #fff;
    border: 1px solid rgba(134,194,0,1.0);
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

header > div > div p a {
    display: block;
    color: rgba(134,194,0,0.95);
    font-size: 1.22rem;
    font-weight: 700;
    text-shadow: 0 0 black;
    padding: 4px 6px;
}

header .drop-down p a {
    padding-right: 17px;
}

header .drop-down#section-nav p a {
    padding: 4px 8px 4px 16px;
}

.caret {   /* CSS Arrow trick */
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    height: 0;
    border-top: 4px solid rgba(134,194,0,1.0);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.caret.collapsed {   /* CSS Arrow trick */
    border-left: 4px solid rgba(134,194,0,1.0);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

header .drop-down#section-nav .caret {
    right: 0;
    left: 4px;
}

header .drop-down .drop-down-menu {
    display: none;
    position: absolute;
    top: 100%;
    list-style: none;
    white-space: nowrap;
    background-color: #fff;
    padding: 10px;
    border: 1px solid rgba(134,194,0,1.0);
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 2.5px 2.5px 5px rgba(0,0,0,0.10);
    margin: 0;
    z-index: 100;
}

header .drop-down#section-nav .drop-down-menu {
    right: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    margin-right: 0;
}

header .drop-down-menu li:hover {
    color: rgba(134,194,0,1.0);
    background-color: #ececec;
}

header .drop-down-menu a {
    display: block;
}

header button {
    display: none;
    background-color: rgba(134,194,0,1);
    padding: 6px 5px;
    border-radius: 4px;
    border-color: rgba(134,194,0,1);
    margin: 10px 10px 0 0;
}

header button span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

header button span+span {
    margin-top: 4px;
}

section {
    padding-top: 20px;
    padding-bottom: 30px;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    margin: 8px 1px;
}

footer a {
    color: rgba(134,194,0,1.0);
    text-shadow: 0.5px 0.5px 1px rgba(60,100,0,0.15);
    padding: 4px 8px;
    border-radius: 5px;
}

footer a:hover {
    color: #fcfcfc;
    background-color: rgba(134,194,0,1.0);
}

footer .social-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .social-tile {
    display: inline-block;
    margin-left: 4px;
    padding: 0;
}

footer .social-tile:first-child {
    margin-left: 16px;
}

footer .social-tile a {
    display: block;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    color: #fff;
    background-color: #4096d3;
/*
    background-color: #696969;
*/
    border-radius: 3px;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

footer .social-tile a:hover {
    background-color: #70b2e0;
/*
    background-color: #7f7f7f;
*/

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

img {
    max-width: 100%;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
}

img.one {
  box-shadow:none;
}

/* Offset the targets for links to page fragments to account for the fixed */
/* header.  Don't put borders or padding-top on the anchor element or they */
/* will interfere with the psuedo-element's padding.                       */
.anchor:before {
    display: block;
    position: relative;
    width: 0;
    content: "";
    visibility: hidden;
/*  These are set via javascript in gbdev.js.  Look for headerHeight.
    padding: 50px 0 0;
    margin: -50px 0 0;
*/
}

/***** Video section allows for dynamically resizing videos *****/
/* video-wrapper allows setting of a max width for the video */
.video-wrapper {
  width: 960px;
  max-width: 100%;
  /* small border to set video apart especially on firefox */
  border-color: black;
  border-style: solid;
  border-width: 2px;
  
}

/* Video container resizes the video as the screen shrinks */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16x9 aspect ratio */
  padding-top: 30px; /* 30px for chrome (controls) */
  height: 0;
  overflow: hidden;
}

/* shrinks height so controls are overlayed on hover instead of at bottom */
.video-controls-overlayed {
  padding-top: 0px;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* For blog page */
div.author-gravatar {
  display: inline-block;
  margin-right: 5px;
  margin-left: 10px;
}

div.date-author
{
  display: inline-block;
}

.for-validation-only {
    display: none;
}

/*********************** MEDIA SECTION ******************************/
/* everything avove for 961px and above */
/* screen width from 721-960px */
@media print, screen and (max-width: 960px) {
    
    header div.wrapper,
    footer div.wrapper
    {
        width: 100%;
    }

    section.wrapper {
        width: 100%;
        /* width: 680px; */
        padding: 12px 30px 20px;
    }

    header {
        padding-right: 0;
    }

    header > div > span {
        display: inline-block;
    }

    header,
    header.original {
        position: static;
    }

    header+.clone,
    header.clone {
        display: none;
    }

    header > div > div {
        display: block;
    }

    header > div > div.collapsed {
        display: none;
    }

    header > div > div:first-of-type {
        margin-top: 8px;
    }

/*
    header > div > div:last-of-type {
        margin-bottom: 8px;
    }
*/

    header .drop-down#section-nav {
        float: none;
    }

    header > div > div p {
        display: block;
        margin: 0;
    }

    header > div > div p.active {
        border: none;
    }

    header .drop-down#section-nav p a {
        /*
          display: block;
        */
        padding: 4px 16px 4px 8px;
    }

    .caret {
        position: relative;
        top: -2px;
        right: -1px;
    }
    header .drop-down#section-nav .caret {
        right: -1px;
        left: 0;
    }

    header .drop-down .drop-down-menu {
        position: relative;
        border: none;
        box-shadow: none;
    }

    header .drop-down .drop-down-menu {
        padding: 0;
        padding-left: 10px;
    }

    header .drop-down .drop-down-menu li {
        padding: 3px 10px;
    }

    header button {
        display: block;
        float: right;
    }
        
    section {
        padding: 0 10px 20px;
        margin: 0 0 20px;
    }

    .anchor:before {
        padding: 0;
        margin: 0;
    }
}

/* Screen width from 481 to 720px */
@media print, screen and (max-width: 720px) {
    section {
        padding: 0 0 20px;
    }
    
    header div.wrapper,
    footer div.wrapper
    {
        width: 100%
    }

    section.wrapper {
        width: 100%;
        padding: 10px 20px 16px;
    }
}

/* Junk Drawer - styles no longer user. */

#vertical-logo img {
    float: left;
    position: relative;
    width: 100px;          /* set width same as header img width */
    margin-bottom: -92px;  /* negative of resulting image height */
    z-index: 199;
}

/* Screen width from 0-480px - really from 320px */
@media print, screen and (max-width: 480px) {
    #vertical-logo, header.floating {
        display: none;
    }
    
    header div.wrapper,
    footer div.wrapper
    {
      width: 100%
    }
    
    section.wrapper {
      width: 100%;
      padding: 8px 10px 12px;
    }
}
