
body {
    margin: 0;
    padding: 0;
}

header, footer {
    width: 100%;
    float: none;
    position: static;
    background-color: #fcfcfc;
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
    z-index: 99;
}

img {
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

header p, footer li {
    display: inline-block;
    font-size: inherit;
    margin: 0.5rem 0.05rem;
}

header a, footer a {
    color: #85c000;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
}

header a:hover, footer a:hover {
    color: #fcfcfc;
    background-color: #85c000;
}

header.floating {
    position: fixed;
    top: 0;
    visibility: hidden;
}

.anchor:before {
    display: block;
    width: 0;
    content: "";
/*  These are set via javascript in gbdev.js.  Look for headerHeight.
    padding: 50px 0 0;
    margin: -50px 0 0;
*/
}

section {
    float: none;
    position: static;
}

p, li {
    font-size: 1.0rem;
}

.social-links {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.social-tile {
    display: inline-block;
    margin-left: 0.25rem;
    padding: 0;
}

.social-tile:first-child {
    margin-left: 1rem;
}

.social-tile a {
    background-color: #4096d3;
/*
    background-color: #696969;
*/
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 1rem;
    height: 1.67rem;
    line-height: 1.67rem;
    width: 1.67rem;
    text-align: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
    padding: inherit;
}

.social-tile a:hover {
    background-color: #70b2e0;
/*
    background-color: #7f7f7f;
*/

    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.for-validation-only {
    display: none;
}