---
title: Gloebit Service Interface Details
page_css: /stylesheets/endpoints.css
page_js: /javascripts/endpoints.js
hide_title_heading: true
no_sections: true
---

<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <nav>
      <div id="nav-container">
        <h3>References</h3>
        <ul>
          <li class="section"><a href="#auth">Authorization Service</a>
            <ul>
              <li class="article">
                <a href="#access-token">Access Tokens</a>
              </li>
              <li class="article">
                <a href="#oauth2">OAuth 2.0 Framework</a>
              </li>
              <li class="article">
                <a href="#auth-code">Authorization Code Grant</a>
              </li>
              <li class="article">
                <a href="#implicit">Implicit Grant</a>
              </li>
              <li class="article">
                <a href="#force-auto">Approval: force/auto</a>
            </ul>
          </li>
          <li class="section"><a href="#identity">Identity Service</a>
            <ul>
              <li class="article">
                <a href="#user-ids">User IDs</a>
              </li>
            </ul>
          </li>
          <li class="section"><a href="#character">Character Service</a>
            <ul>
              <li class="article">
                <a href="#character-ids">Character IDs</a>
              </li>
            </ul>
          </li>
          <li class="section"><a href="#inventory">Inventory Service</a>
            <ul>
              <li class="article">
                <a href="#product-inventory">Products</a>
              </li>
              <li class="article">
                <a href="#item-inventory">Items</a>
              </li>
              <li class="article">
                <a href="#inventory-ops">Inventory Operations</a>
              </li>
            </ul>
          </li>
          <li class="section">
            <a href="#dctransaction">Digital Currency and<br>Transaction Service</a>
            <ul>
              <li class="article">
                <a href="#transaction-flow">Transaction Flow</a>
              </li>
            </ul>
          </li>
          <li class="section"><a href="#restful">RESTful API</a>
            <ul>
              <li class="article">
                <a href="#endpoint-access">Endpoint Accesses</a>
              </li>
              <li class="article">
                <a href="#error">Endpoint Errors</a>
              </li>
            </ul>
          </li>
        </ul>

        <h3>Endpoints</h3>
        <ul>
          <li class="section"><a href="#auth">Authorization Service</a>
            <ul>
              <li class="endpoint">
                <a href="#authorize">Authorize</a>
              </li>
              <li class="endpoint">
                <a href="#access-token">Exchange for Access Token</a>
              </li>
              <li class="endpoint">
                <a href="#verify-token">Verify Access Token</a>
              </li>
            </ul>
          </li>
          <li class="section"><a href="#identity">Identity Service</a>
            <ul>
              <li class="endpoint">
                <a href="#user-id">Get User ID</a>
              </li>
            </ul>
          </li>
          <li class="section"><a href="#character">Character Service</a>
            <ul>
              <li class="endpoint">
                <a href="#create-character">Create Character</a>
              </li>
              <li class="endpoint">
                <a href="#list-characters">Get List of Characters</a>
              </li>
              <li class="endpoint">
                <a href="#update-character">Update Character</a>
              </li>
              <li class="endpoint">
                <a href="#delete-character">Delete Character</a>
              </li>
            </ul>
          </li>
          <li class="section"><a href="#inventory">Inventory Service</a>
            <ul>
              <li class="endpoint">
                <a href="#get-user-products">Get User Products</a>
              </li>
              <li class="endpoint">
                <a href="#grant-user-product">Grant User Product</a>
              </li>
              <li class="endpoint">
                <a href="#consume-user-product">Consume User Product</a>
              </li>
              <li class="endpoint">
                <a href="#set-user-product-count">Set User Product Count</a>
              </li>
              <li class="endpoint">
                <a href="#get-character-products">Get Character Products</a>
              </li>
              <li class="endpoint">
                <a href="#grant-character-product">Grant Character Product</a>
              </li>
              <li class="endpoint">
                <a href="#consume-character-product">Consume Character Product</a>
              </li>
              <li class="endpoint">
                <a href="#set-character-product-count">Set Character Product Count</a>
              </li>
              <li class="endpoint">
                <a href="#new-item">New Item</a>
              </li>
              <li class="endpoint">
                <a href="#get-item-ids">Get Item IDs</a>
              </li>
              <li class="endpoint">
                <a href="#get-item">Get Item</a>
              </li>
              <li class="endpoint">
                <a href="#update-item">Update Item</a>
              </li>
              <li class="endpoint">
                <a href="#delete-item">Delete Item</a>
              </li>
            </ul>
          </li>
          <li class="section">
            <a href="#dctransaction">Digital Currency and<br>Transaction Service</a>
            <ul>
              <li class="endpoint">
                <a href="#balance">Balance</a>
              </li>
              <li class="endpoint">
                <a href="#transact">Transact</a>
              </li>
              <li class="endpoint">
                <a href="#purchase">Purchase gloebits</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <div class="wrapper" id="main">
      <section class="anchor" id="intro">
        <article>
          <h1>{{ page.title }}</h1>
          <div class="body">
            <p>
              Welcome to the developer page providing all the information you need to integrate Gloebit services into your application.  It combines reference information about the services and <a href="#endpoints">endpoint</a> specifications for the services.  It is meant to be read from the beginning onward.  However, given the page's size, feel free to use the References and Endpoints menus to jump around.
            </p>

            <h2>Gloebit's Services</h2>
            <p>
              Gloebit offers four backend services: <a href="#identity">Identity</a>, <a href="#character">Character</a>, <a href="#inventory">Inventory</a>, and <a href="#dctransaction">Digital Currency & Transaction</a>.  You can incorporate any of them into your design, or any combination, or all of them.  Each can work independtly or with other services (for example, character-based inventories).
            </p>
            <p>
              All backend services are dependent upon the Gloebit <a href="#auth">Authorization</a> service.  Your application must first use the authorization service to get your user's approval for account access.  Via this service, Gloebit will authorize the user, ask permission for your application's access, and provide your application an access token for the user's account.  Your application then uses the token with the backend services.
            </p>

            <h2 class="anchor" id="endpoints">Endpoints</h2>
            <p>
              All of the Gloebit services are web services, meaning their functionality is accessed via HTTP requests to web resources.  This page uses the term "endpoint" to refer to a web resource, including its URL, its HTTP request format, and the functionality it provdes.  The Endpoints menu lists all of the web resources availble in each of the services.
            </p>
          </div>
        </article>
      </section>

      <section class="anchor" id="auth">
        <article>
          <h1>Authorization Service</h1>
          <div class="body">
            <p>
              Your application must use Gloebit's Authorization service before using any of the other Gloebit services.  All other services' endpoints require an access token, and you use the Authorization service to acquire access tokens.  Gloebit supports OAuth 2.0 (OAuth2) methods for delivering access tokens to your application.  During the OAuth2 flow, we will prompt your user to log into the Gloebit system and grant your application access to the user's resources (identity, characters, inventory, etc.) requested by your application.
            </p>
          </div>
        </article>

        <a class="anchor" id="access-token"></a>
        <article>
          <h2>Access Tokens</h2>
          <div class="body">
            <p>
              An access token is a credential your application provides when accessing a Gloebit user's resources.  Your application acquires an access token via the Authorization service and then includes it in requests to Gloebit's backend services.  During the authorization process, Gloebit puts the following constraints on the access token:
            </p>
            <ul>
              <li>The access token is tied to the application requesting it, exclusively.</li>
              <li>It is valid only for the resources of the authorizing Gloebit user.</li>
              <li>It is valid until the user revokes the application's access.</li>
              <li>It grants access only to the resources in the token's <i>scope</i>.
            </ul>
            <h3>User</h3>
            <p>
              The "user" associated with an access token is a Gloebit account.  These users correspond to your application's users only if your application uses Gloebit IDs (from the Identity service) to identify or associate with its users.  Otherwise, you should be aware that a user in your application could log into more than one Gloebit account or multiple users in your application could share a single Gloebit account (or many to many).
            </p>
            <h3>Scope</h3>
            <p>
              An access token's scope is a set of Gloebit-defined scopes that cover the user's resources available to applications.  Your application will indicate the requested scope (set of Gloebit scopes) when initiating the Authorization service.  Gloebit will inform the user of the requested scope during approval and then, after the user approves, return an access token with that scope.  Here are the Gloebit resources and the Gloebit scopes for them:
            </p>
            <table>
              <tr>
                <th>Resource</th>
                <th>Scope</th>
              </tr>
              <tr>
                <td>User's Gloebit identity.</td>
                <td>identity</td>
              </tr>
              <tr>
                <td>Characters the user has created for your application.</td>
                <td>character</td>
              </tr>
              <tr>
                <td>Inventories your application has created for the user and the user's characters.</td>
                <td>inventory</td>
              </tr>
              <tr>
                <td>User's gloebit balance.</td>
                <td>balance</td>
              </tr>
              <tr>
                <td>Ability to exchange the user's gloebits for your application's products or other items for purchase.</td>
                <td>transact</td>
              </tr>
            </table>
            <p>
              For example, if your application wants to access a user's identity and balance and let the user purchase products in your application, you would request an access token with identity, balance, and transact in its scope.  (Specifically, the requested scope is a space-separated string specifying them: "identity balance transact".)
            </p>
            <h3>Revocation</h3>
            <p>
              Currently, Gloebit does not explicitly expire access tokens.  They can effectively expire due to storage constraints or other structural causes.  Additionally, users can revoke an application's access via their Gloebit dashboard and approved-applications pages.
            </p>
            <p>
              If a token expires or is revoked, Gloebit will reject any request your application makes with the token.  When a request is rejected, your application should check the included failure reason and determine if it needs to return to the authorization process to acquire a new token.
            </p>
            <h3>Security</h3>
            <p>
              Keeping access tokens secure is paramount.  They grant access to your users' Gloebit accounts and information your application stores for your users.  Your application's method for storing access tokens must prevent their being exposed to users or third parties.
            </p>
          </div>
        </article>

        <a class="anchor" id="oauth2"></a>
        <article>
          <h2>OAuth 2.0 Authorization Framework</h2>
          <div class="body">
            <p>
              To get your users' approval for letting your application access their Gloebit accounts, we use the OAuth 2.0 (OAuth2) framework.  OAuth2 supports securely authorizating your users and accessing their "resources".  For a nice, succinct primer on OAuth2, visit Aaron Parecki's <a href="https://aaronparecki.com/articles/2012/07/29/1/oauth2-simplified">OAuth 2 Simplified</a> page.  For OAuth2 details, visit the <a href="http://tools.ietf.org/html/rfc6749">OAuth 2.0 specification</a> page.
            </p>
            <p>
              Gloebit's OAuth2 implementation supports both <i>confidential</i> (web-server based) and <i>public</i> (browser-based or native-on-device) applications and the <a href="http://tools.ietf.org/html/rfc6749#section-4.1">Authorization Code Grant</a> and <a href="http://tools.ietf.org/html/rfc6749#section-4.2">Implicit Grant</a> methods for acquiring access tokens.  If your application is web-server based (confidential), use the Authorization Code Grant method.  If your application is brower-based or is a native app on devices (public), use the Implicit Grant.
            </p>
          </div>
        </article>

        <a class="anchor" id="auth-code"></a>
        <article>
          <h2>Authorization Code Grant method</h2>
          <div class="body">
            <p>
              This authorization method is for applications with a back-end server (i.e., web-based, or <i>confidential</i> in OAuth2 terms).  It is the more secure method for acquiring access tokens and Gloebit strongly recommends using it if at all possible.
            </p>
            <img src="https://gloebit-static-prod-0.s3.amazonaws.com/static-1/docs/api/images/oauth2-seq.png" alt="Gloebit Authorization Code Grant Flow Diagram">
            <p>
              Your application first uses the <a href="#authorize">Authorize</a> endpoint with a response_type of "code".  Gloebit authorizes your user and gets approval for your application to access the user's Gloebit resources, then returns an authorization code via a redirection to your application's redirect URI.
            </p>
            <p>
              Next, Your application's server extracts the authorization code and posts it to the <a href="#access-token">Exchange for Access Token</a> endpoint for the access token.  The security in this method comes from your server providing its OAuth secret during the second step and the access token being returned to your server in the body of the POST response.
            </p>
            <p>
              For added security, your application should send a "state" parameter to the Authorize endpoint and check it against the returned "state" value (to help prevent CSRF attacks).  Plus, you should provide callback URI prefixes in the <a href="/app-config/#auth-info">Authorization fields</a> of your applications configuration page, preferably HTTPS type.  Gloebit checks redirect URIs (provided to the Authorize endpoint) against the application's prefixes.
            </p>
          </div>
        </article>

        <a class="anchor" id="implicit"></a>
        <article>
          <h2>OAuth 2.0 "implicit grant" (less secure 1-step) method</h2>
          <div class="body">
            <p>
              This authorization method is for browser-based applications or applications that run natively on the device (both considered <i>public</i> in OAuth2 terms).  Of the two methods that Gloebit supports for acquiring access tokens, it is the less secure because it delivers the access token via the redirect URI and it does not use a secret for your application.  Gloebit sets some additional constraints when using this method.
            </p>
            <p>
              Your application uses only the <a href="#authorize">Authorize</a> endpoint with a response_type of "token".  Gloebit authorizes your user and gets approval for your application to access the user's Gloebit resources, then returns the access token via a redirection to your application's redirect URI.  Your application extracts the access token from the URI's fragment.
            </p>
            <p>
              Per the OAuth2 spec, Gloebit requires that you provide callback URI prefixes in the <a href="/app-config/#auth-info">Authorization fields</a> of your application's configuration page and Gloebit checks the authorization request's redirect URI against the prefixes.  Additionally, we require your redirect URI use HTTPS instead of HTTP.
            </p>
            <p>
              For added security, your application should send a "state" parameter to the Authorize endpoint and check it against the returned "state" value (to help prevent CSRF attacks).
            </p>
          </div>
        </article>

        {% include ep_template.html ep=site.data.endpoint.authorize %}

        <a class="anchor" id="force-auto"></a>
        <article>
          <h2>Prompting User for Approval</h2>
          <div class="body">
            <p>
              Gloebit does two things during a call to the <a href="#authorize">Authorize</a> endpoint.  First, it logs the user in to Gloebit, if necessary.  Second, it prompts the user to approve your application's access to the user's resources.  By default, the approval step always occurs, meaning your user will always see a Gloebit page asking for approval when your application uses the endpoint.
            </p>
            <p>
              The endpoint's <i>approval_prompt</i> parameter allows your application to have Gloebit conditionally prompt the user.  It has two possible values, "force" and "auto":
            </p>
            <h3>Authorize - approval_prompt: "force"</h3>
            <p>
              Using "force" with approval_prompt causes Gloebit to always prompt the user for access approval.  It also causes Gloebit to always generate a new access token (for the combination of application, user, and scope) and discard an existing access token.
            </p>
            <p>
              It is the default value for the parameter.
            </p>
            <h3>Authorize - approval_prompt: "auto"</h3>
            <p>
              Using "auto" with approval_prompt causes Gloebit to prompt the user for access approval only if we do not have an existing access token (for the combination of application, user, and scope).  If an access token matching the endpoint request's parameters exists, Gloebit will return that access token and might not prompt the user.  If no matching access token exists, Gloebit will prompt the user and generate a new access token.
            </p>
            <p>
              Note: Currently Gloebit does not have a setting for users to always require approval, but we may add one.  In the future, with such a setting, a user can choose to force seeing the approval page for your application.  However, if you use "auto", Gloebit might still create a new access token only if necessary.
            </p>
          </div>
        </article>

        {% include ep_template.html ep=site.data.endpoint.exchange_for_access_token %}

        {% include ep_template.html ep=site.data.endpoint.verify_access_token %}

      </section>

      <section class="anchor" id="identity">
        <article>
          <h1>Identity Service</h1>
          <div class="body">
            <p>
              Your application can use Gloebit's Identity service to let Gloebit manage your user accounts.  Using this service saves you the trouble of building a login/authentication system.  Your users would login via Gloebit to be authenticated, where they can either provide Gloebit login credentials (email + password) or authenticate via Facebook, Google+, Twitter, or LinkedIn.
            </p>
            <p>
              With this service, after using the Authorization service you would use the <a href="#user-id">Get User ID</a> endpoint to retrieve your user's Gloebit ID.  Your application can then use the ID to track the user.
            </p>
          </div>
        </article>

        <a class="anchor" id="user-ids"></a>
        <article>
          <h2>User IDs</h2>
          <div class="body">
            <p>
              Gloebit user IDs are <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier">UUIDs</a>.  The service provides them as a string in their <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier#Definition">canonical form</a>:
            </p>
            <pre class="uuid">XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</pre>
            <p>
              where each "X" represents a hexadecimal number.  The lengths of the sequences are 8, 4, 4, 4, and 12.  Thus, each user ID is 36 characters total.
            </p>
          </div>
        </article>

        {% include ep_template.html ep=site.data.endpoint.get_user_id %}

      </section>

      <section class="anchor" id="character">
        <article>
          <h1>Character Service</h1>
          <div class="body">
            <p>
              Your application can use Gloebit's character service to create and manage characters (or personas or entities or ...) for your users.  Each user can have multiple characters in the system.  The service allows for storing, retrieving, and editing character details.
            </p>
            <p>
              The service supports combining with the other Gloebit services.  The Inventory service has character-specific endpoints for products.  The Digital Curreny & Transaction allows product purchases to be directed to a character's inventory.  These endpoints require a character ID.  Use the <a href="#list-characters">Get List of Characters</a> to get IDs for all of a user's characters.
            </p>
          </div>
        </article>

        <a class="anchor" id="character-ids"></a>
        <article>
          <h2>Character IDs</h2>
          <div class="body">
            <p>
              Gloebit character IDs are <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier">UUIDs</a>.  The service provides them as a string in their <a href="http://en.wikipedia.org/wiki/Universally_unique_identifier#Definition">canonical form</a>:
            </p>
            <pre class="uuid">XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</pre>
            <p>
              where each "X" represents a hexadecimal number.  The lengths of the sequences are 8, 4, 4, 4, and 12.  Thus, each character ID is 36 characters total.
            </p>
          </div>
        </article>

        {% include ep_template.html ep=site.data.endpoint.create_character %}

        {% include ep_template.html ep=site.data.endpoint.get_list_of_characters %}

        {% include ep_template.html ep=site.data.endpoint.update_character %}

        {% include ep_template.html ep=site.data.endpoint.delete_character %}

      </section>

      <section class="anchor" id="inventory">
        <article>
          <h1>Inventory Service</h1>
          <div class="body">
            <p>
              The inventory service allows an application to create and manage an inventory and entitlements for a user.  There are two flavors of this service.  The Product Inventory Service requires definition of products from the API Settings page for the application and drastically simplifies delivering these products during purchase transactions and consuming the products.  The Advanced Inventory Service allows for more freedom and detail for inventory items.  If you are just tracking whether or not a user has an item and at what quantity, the Product Inventory Service is simple and may be all you need.  This is great for basic entitlements.  If you are trying to track many combinations, variants and details about inventory items, then you may want to use our Advanced Inventory Service.
            </p>
            <ul>
              <li>Requires access token with a scope that includes "inventory".  See Authorization section for details.</li>
            </ul>
          </div>
        </article>

        <a class="anchor" id="product-inventory"></a>
        <article>
          <h2>Product Inventory Service</h2>
          <div class="body">
            <p>
              This is a basic inventory service designed for simple products.  Think of it as an entitlements service.  It is great for saying that a user does or does not have something or what quantity a user has.  You will need to define products from the API Settings page for the application on the gloebit website.  Then you can easily grant or consume those products for a user.  If the application is using our Transaction/Digital Currency service, there is even a simple way to deliver a product during a transaction.
            </p>
            <ul>
              <li>The product inventory is a JSON dictionary of {"product name":quantity pairs}.</li>
              <li>You must define products from the API Settings page for the application.  A product definition requires a product name, and a price in gloebits.  There are a few other parameters:
                <ul>
                  <li>Available flag (true by default) - This can be toggled off to make this product unavailable.</li>
                  <li>No inventory limit flag (true by default) - This means a user can have an unlimited number of this product in the user's inventory.  If it is toggled off, the limit can be set.</li>
                  <li>Per user limit (infinite by default) - If the no inventory limit flag is turned off, then this will determine the maximum number of this product that a user may possess in the user's inventory.</li>
                  <li>Can be granted/set flag (false by default) - This can be turned on to allow this product to be granted or have it's quantity set for a user outside of a transaction where the price in gloebits were paid.  If you are using the lower security 1-step authorization, while difficult, it is possible for a user to have discovered your access key and then grant themselves these products if you turn this on.  However, if there are items you regularly give away, or which you don't sell but track for a user, this is an easy way to do so.</li>
                </ul>
              </li>
              <li>If you change the name of a product, be aware that some of your users may still have items with the old name in their inventory.  The name is the key for that product and we do not update user inventories when you change the name of a product.</li>
              <li>In addition to managing inventory at the user level, if the application is using our Character Service, the application can use the corresponding functions below to manage inventory for individual characters within the user account.</li>
            </ul>
          </div>
        </article>

        {% include ep_template.html ep=site.data.endpoint.get_user_products %}

        {% include ep_template.html ep=site.data.endpoint.grant_user_product %}

        {% include ep_template.html ep=site.data.endpoint.consume_user_product %}

        {% include ep_template.html ep=site.data.endpoint.set_user_product_count %}

        {% include ep_template.html ep=site.data.endpoint.get_character_products %}

        {% include ep_template.html ep=site.data.endpoint.grant_character_product %}

        {% include ep_template.html ep=site.data.endpoint.consume_character_product %}

        {% include ep_template.html ep=site.data.endpoint.set_character_product_count %}

        <article>
          <h3>Transact Product</h3>
          <div class="body">
            <p>
              See the Product Transact Parameters section of the Transact method in the Digital Currency &amp; Transaction Service section for details on how to deliver a product to a user or character as part of a gloebit transaction.
            </p>
          </div>
        </article>

        <a class="anchor" id="advanced-inventory"></a>
        <article>
          <h2>Advanced Inventory Service</h2>
          <div class="body">
            <p>
              The Advanced Inventory Service provides a more generic interface to the inventory system.  If you would like to store more detailed inventory information for an application than just possession/entitlements, such as state of items, wear levels, customized variants of items, or general game state information in a users inventory, this is the service to use.  It will allow for an inventory item to include any information you choose as a set of key-value pairs.  It is slightly more complex to use or to deliver products as part of a transaction than the Product Inventory Service, but it is also more powerful.
            </p>
            <ul>
              <li>You do not need to define any inventory items ahead of time from the API Settings page as you do for the Product Inventory Service.</li>
              <li>The Advanced Inventory Service stores inventory using folder ids.  To simply create an inventory for the user, we suggest using the user id as the folder id.  To simply create an inventory for a character within the user account, we suggest using the character id as the folder id.</li>
              <li>You can create generic folders within the user's account for managing different inventories for the user.</li>
              <li>When no folder-id is supplied, the null folder-id "00000000-0000-0000-0000-000000000000" is used.</li>
              <li>All inventory folders created are specific to this application and are not accessible by other applications.  If you would like more complex accessibility of inventory, please <a href="https://www.gloebit.com/contact-us/"><!--target="_blank"-->contact us</a> with a detailed request so we can consider this for future development.</li>
            </ul>
          </div>
        </article>

        {% include ep_template.html ep=site.data.endpoint.new_inventory_item %}

        {% include ep_template.html ep=site.data.endpoint.get_inventory_item_ids %}

        {% include ep_template.html ep=site.data.endpoint.get_inventory_item %}

        {% include ep_template.html ep=site.data.endpoint.update_inventory_item %}

        {% include ep_template.html ep=site.data.endpoint.delete_inventory_item %}

        <article>
          <h3>How To effect inventory as part of a transaction</h3>
          <div class="body">
            <p>
              If your application is using the Gloebit Digital Currency and Transaction Service, there are some advanced methods to tie into inventory.  See the Callbacks and Notifications subsection of the Digital Currency &amp; Transaction Service section for details on how to do so.
            </p>
          </div>
        </article>

      </section>

      <section class="anchor" id="dctransaction">
        <article>
          <h1>Digital Curreny & Transaction Service</h1>
          <div class="body">
            <p>
              This Service provides everything necessary to handle payments and in-app micro-transactions in a fraction of the time and at a fraction of the cost of competitors.  This service provides access to a user's gloebit balance to display within an application.  It also provides access to request payment in gloebits from the user to the merchant/developer without leaving the application.
            </p>
            <ul>
              <li>We suggest you price your products in gloebits and do not show an estimated USD cost.  In our experience, monetization decreases when a USD price is shown.</li>
              <li>We store a full transaction history for all parties on the Gloebit website which is exportable to a csv file.</li>
              <li>We provide dispute resolution services from the Gloebit website.  You will never have to deal with disputes for traditional payment methods as that relationship is between Gloebit and the end-user.  We do not pass chargeback fees to you, though we may occasionally need to freeze a gloebit transaction funded with a fraudulent payment method.  Any dispute you are involved in will be a gloebit transaction for a product or service you provided.</li>
              <li>We handle the challenges of integration with traditional payment methods such as credit cards and PayPal.  We also accept Bitcoin.  You benefit as we continue to integrate new payment methods for consumers.</li>
              <li>Merchants/developers earn gloebits into their account.  We provide an interface to sell those gloebits for USD or BTC and then to withdraw that USD or BTC from the system.  Currently, gloebit sales are pegged to G250 per $1.  We will eventually provide floating exchanges where merchants/developers can place sales at the value they desire.</li>
              <li>If you are interested in enabling user-to-user transactions within your application, please contact us at info@gloebit.com.  This Gloebit Digital Currency & Transaction Service is perfect for communities which exchange payment for goods/services back and forth with each other.</li>
              <li>Requires access token with a scope that includes "balance" and/or "transact".  See Authorization section for details.</li>
            </ul>
          </div>
        </article>

        {% include ep_template.html ep=site.data.endpoint.balance %}

        {% include ep_template.html ep=site.data.endpoint.transact %}

        <p>
          Failure can happen for many reasons including:
        </p>
        <ul>
          <li>The fields of the dictionary posted for the Transact call are non proper.</li>
          <li>The customer's Gloebit account is not authorized to spend gloebits</li>
          <li>The application is not authorized as a merchant to receive gloebits.</li>
          <li>The application does not have Transact authorization from the customer.</li>
          <li>{"success":False, "status":"failed", "reason":"transaction already created"} - Race condition possible if transaction is submitted multiple times at nearly the identical time.</li>
          <li>{"success":False, "status":"queuing-failed"} - The attempt to queue the transaction for processing failed.</li>
          <li>Enacting the balance adjustments failed (likely customer does not have enough available gloebits)</li>
          <li>If using the Product Inventory System &amp; Product Transact Parameters, enacting of the product delivery failed.</li>
          <li>If we could not enact balance transfers due to issues such as a user not having a sufficient balance not already enacted for other purchases, or your merchant/developer access token being invalid or not containing scope to cover transactions.</li>
        </ul>
        <p>
          Additional Notes:
        </p>
        <ul>
          <li>We suggest you make purchase buttons inactive after making a Transact request and until you receive a response to avoid double posting.</li>
          <li>Requires access token with a scope that includes "transact".  See Authorization section for details.</li>
          <li>See sections on Delivery &amp; Callbacks for suggestions on how to handle product delivery or other application side updates as part of a transaction.</li>
          <li>"username-on-application" : We recommend supplying so that consumer has record in his/her transaction history (especially useful when a user attaches multiple accounts in application to one Gloebit account).  Also provides this back to merchant/developer in merchant/developer transaction history so that you can tie revenue to specific users in your system.  If user is purchasing as a character and the application is not supplying a character-id through the product version of Transact, you may consider supplying &lt;user&gt;:&lt;character&gt; or something similar to provide both.</li>
          <li>"transaction-id" : We recommend using transaction UUIDs in your application. Storing/tracking on your end allows you to tie it to the transaction in the Gloebit system (which will have a separate uuid that we created).  This is also the mechanism for idempotency so that making multiple requests will not duplicate the transaction in our system.</li>
          <li>For product names and asset codes, if the item is not singular, for example "5 swords", we suggest giving it a singular group name instead, such as "package of 5 swords". In the user's log files, a group name works better: "Sent to &lt;app&gt; for 1 package of 5 swords" instead of "... for 1 5 swords".
        </ul>

        <h3>Product Transaction for use with Product Inventory Service</h3>
        <p>
          If you are selling a product defined on the application's API Settings page of the Gloebit website and managed by the Product Inventory Service, then your application can use the Product Transaction parameters.  Delivery of the product/entitlement will be handled by the transaction.  Additionally, if you are making these calls from an application which is just a web app with no server, use of these product services ensures that a user cannot adjust the price of a product as it is defined elsewhere, not in the transaction.
        </p>

        <h3>Asset Transact Parameters for use with generic assets</h3>
        <p>
          If your application is not using the Product Inventory Service, then you should use Generic Asset Transactions.  You will manage delivery of the asset purchased yourself, either within your application or in our Item Inventory System.  You should integrate the Transaction Callbacks, described below, into your system if you wish to ensure committed transactions before delivery.
        </p>

        <article>
          <h3>Callback Transact Parameters</h3>
          <div class="body">
            <p>
              These parameters are optional and allow a developer to define a URL which will be requested at various states of the transaction.
            </p>
            <ul>
              <li>No arguments are provided, so the URL should contain any information your application needs, such as the transaction id to identify the transaction.</li>
              <li>Our system waits for a response from these requests.  Be aware that you can stall your own transactions, so we prefer quick responses from these URLs.</li>
              <li>These urls should be idempotent as we will retry them if we do not get a response.</li>
            </ul>
            Callback Transaction Parameters:
            <ul>
              <li>"asset-enact-hold-url" : "&lt;url&gt;" --- This url will be called after the transaction processor has enacted all parts of the transaction.  Think of this as a hold being in place which should guarantee that the transaction can be completed, but still being in a state where it can also be cancelled and rolled back.  If your application supplies this parameter and the callback url responds "false", we will assume necessary components in your application (such as delivery of the purchased good) failed and we will cancel and roll back the transaction.  In some circumstances, this callback can occur more than once, can occur prior the Transact call returning "true", and may be received after the asset-cancel-hold-url callback has occurred.  In most cases, the transaction will only fail after this point if your asset-enact-hold-url returns "false".</li>
              <li>"asset-cancel-hold-url" : "&lt;url&gt;" --- This url will be called if and as we have determined to cancel the transaction.  In most cases, all parts of the transaction have been cancelled (and if enacted already, rolled back) prior to this call.  Once this call is made/received, this transaction cannot and will not succeed.  This can be called prior to or without an "asset-enact-hold-url" being called.  This may not be called if the Transact call returns "false", so it is important to pay attention to the Transact return as well.  This url should never be called after "asset-consume-hold-url" has been called.  While the response will not affect the transaction, we will recall this url until we receive an acknowledgement of receipt.</li>
              <li>"asset-consume-hold-url" : "&lt;url&gt;" -- This url will be called after we have consumed the holds enacted and committed the transaction.  At this point, the transaction is fully complete and can not be rolled back.  This url may be called multiple times.  While the response will not affect the transaction, we will recall this url until we receive an acknowledgement of receipt.</li>
            </ul>
          </div>
        </article>

        <article>
          <h3>Delivery of digital goods/entitlements purchased</h3>
          <div class="body">
            <p>
              There are many ways to handle delivery of purchases, allowing the merchant/developer to decide what is best for their application.<br>
              If your application is using the Product Inventory Service:
            </p>
            <ul>
              <li>See the Product Transact Parameters section which will automatically handle delivery of your product to the user or character as part of the transaction.  This is the simplest way to utilize our services.</li>
            </ul>
            If your application is not using the Product Inventory Service, or if it is, but you would like to manage additional information internally, then it is best to understand the phases of the Transact request:
            <ul>
              <li>Prior to Transact request --- You are welcome to deliver digital goods prior to making the Transact request if you are willing to have some leakage or handle reversal of delivery on failure.  We recommend you check a user's balance to ensure that the user has enough gloebits in his/her account for the purchase.  There is no guarantee that the purchase will succeed, but if your application allows purchases during a live-action game, you may prefer some leakage over making a user wait until the transaction completes.</li>
              <li>Upon successful response from Transact request --- Once the system enacts all transfers involved, it returns success.  The transaction is not yet committed and can still be rolled back, but that is unlikely.  This is a great time to deliver goods, and still very simple.  Upon a Transact failure response, the action your application takes should be dependent on the message details.  Some possibilities include retrying the Transact call, attempting to fix any problems on the application end, or asking the user to purchase enough gloebits to afford the purchase.</li>
              <li>Upon Transact Callback of asset-enact-hold-url --- This is a similar state as when the Transact request returns success.  The transfer has been made to all balances, but has not been committed and can still be rolled back.  The transaction processor waits for a response from this url before committing the transaction.  Using this callback is a great way to tie in delivery in a way where if delivery of the goods fails, then the gloebit transaction is rolled back.  A return of true from this url should mean that you have delivered the goods, and false means you have failed permanently in an attempt to deliver and we should roll back the gloebit transaction.  If we receive a response of false, after rolling back the transaction, we will call the asset-cancel-hold-url callback if one has been supplied.</li>
              <li>Upon Transact Callback of asset-consume-hold-url --- If you are looking to be as conservative as possible with delivery of your digital goods, then you may decide to handle delivery upon receiving this callback; however, this creates the risk that a user is charged gloebits and your system fails to deliver the goods.  We recommend that the best conservative method is to begin or queue delivery with the asset-enact-hold-url and complete or commit delivery with the asset-consume-hold-url.  This callback means the transaction has been fully completed and committed.  It can not be cancelled or rolled back at this point and the gloebits have been delivered to the merchant/developer account controlling the application that requested the transaction.</li>
              <li>Upon Transact Callback of asset-cancel-hold-url ---  If at any point, you receive this callback, the transaction has failed and is being or has been rolled back.  If you have not delivered your goods, don't.  If you have begun delivery of your goods, then cancel processing of that delivery.  Once you receive the asset-consume-hold-url callback, you can rest assured that you will not receive the asset-cancel-hold-url for this transaction.</li>
            </ul>
            Note:
            <ul>
              <li>While transactions cannot be rolled back once committed, that does not mean that delivery of gloebits cannot later be reversed.  We have to deal with fraud and disputes just like any other payment service.  We do our best to insulate our partners from fraud, however, there are situations where we will need to place a hold on or reclaim gloebits.  For instance, if gloebits sent to you were fraudulently purchased, or if a user disputes the transaction where that user paid you those gloebits, then we may have to take action.  For further details, please read the <a href="https://www.gloebit.com/display-tos-merchant/">Merchant Terms of Service</a> for Gloebit.</li>
            </ul>
          </div>
        </article>

        {% include ep_template.html ep=site.data.endpoint.purchase %}

      </section>

      <section class="anchor" id="resources">
        <article>
          <h1>Additional Resources</h1>
          <div class="body">

            <ul>
              <li>For information regarding how to get started with your merchant account and test in our sandbox, please see the <a href="/merchant-steps/">Getting Started Guide</a>.  It's fast and free.</li>
              <li>For information on how to configure the API Settings for your application, please see the <a href="/app-config/">Application Configuration Instructions</a>.</li>
              <li>For code level details regarding integration, please visit our <a href="/apis/">API and Code Examples</a> page.</li>
              <li>For instructions on moving your application from sandbox to production when you are ready to release, please visit our <a href="/go-live-walkthru/">Going Live</a> page.</li>
              <li>Gloebit uses OAuth2 in its Authorization service.  If you are new to using OAuth2, here is a <a href="https://aaronparecki.com/articles/2012/07/29/1/oauth2-simplified">great, simple summary</a> from Aaron Parecki.</li>
            </ul>
          </div>
        </article>
      </section>

      <section class="anchor" id="error">
        <article>
          <h1>Errors</h1>
          <div class="body">
            <p>
              Any access-token protected API call returns a JSON dictionary.  One of the entries will be "success" which will be True or False.  If "success" is False, there will be an entry called "reason", which will be set to one of the following:
            </p>
            <ul>
              <li>"missing domain"</li>
              <li>"unknown consumer"</li>
              <li>"unknown user"</li>
              <li>"unknown token"</li>
              <li>"token has expired"</li>
            </ul>
            Example:
            <ul>
              <li>{"success":False, "reason":"unknown token"}</li>
            </ul>
          </div>
        </article>
      </section>

      <section class="anchor" id="roadmap">
        <article>
          <h1>On the Roadmap</h1>
          <div class="body">
            <p>
              Some API features on the roadmap are
            </p>
            <ul>
              <li>Application specific sub-currencies or soft currencies</li>
              <li>Management and consumption of resources (brick, wood, mineral, etc) in application</li>
              <li>User-to-user transactions</li>
            </ul>
            <p>
              If these, or any other features are important to you, please <a href="https://www.gloebit.com/contact-us/"><!--target="_blank"-->contact us</a> to help us prioritize or register as a potential future feature beta tester.
            </p>
          </div>
        </article>
      </section>
    </div>

    {% include footer_scripts.html %}
    
  </body>
</html>
