---
layout: dev
---
<!-- Post Header Info -->
<section class="wrapper">
  <h1>{{ page.title }}</h1>
  
  <!-- Author Details -->
  {% assign author = site.authors[page.author] %}
  <div class="author">
    <p>
      <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
      <span class="author">{{ author.display_name }}</span>
      {% if author.twitter %}
        <!-- Display Twitter Follow Button -->
        <a class="twitter-follow-button"
          href="https://twitter.com/{{ author.twitter }}"
          data-show-count="false"
          data-lang="en"
          rel="author">
          Follow @{{ author.twitter }}
        </a>
        <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
        <!-- a href="http://www.twitter.com/{{ author.twitter }}" class="social-tile icon twitter" target="_blank" title="Twitter">&#xf116;</a> -->
      {% endif %}
      {% if author.facebook %}
        <!-- Display Facebook Follow Button -->
        <div id="fb-root"></div>
        <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=544263825590034&version=v2.3";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-follow" 
          data-href="https://www.facebook.com/zuck" 
          data-colorscheme="light" 
          data-layout="standard" 
          data-show-faces="true">
        </div>
      {% endif %}
      {% if author.linkedin %}
      <a href="http://www.linkedin.com/in/{{ author.linkedin }}" rel="author" class="social-tile icon linkedin" target="_blank" title="LinkedIn">&#xf110;</a>
      {% endif %}
      {% if author.google_plus %}
      <a href="https://plus.google.com/+{{ author.google_plus }}" rel="author" class="social-tile icon googleplus" target="_blank" title="Google+">&#xf10c;</a>
      {% endif %}
    </p>
  </div>
  
  <!-- Date published -->
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
    
</section>

<!-- Post Content -->
<section class="post wrapper">

  <!-- Twitter Tweet Button -->
  <a 
    href="https://twitter.com/share" 
    class="twitter-share-button" 
    data-url="{{site.url }}{{ page.url }}" 
    data-text="{{ page.title }}" 
    data-via="{{ author.twitter }}" 
    data-related="gloebit" 
    data-hashtags="{{ page.hashtags | join: ',' }}">
    Tweet
  </a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  
  <div class="entry">
    {{ content }}
  </div>

  <!-- Date published at bottom -->
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</section>
