---
layout: dev
page_css: /stylesheets/post.css
---
<!-- Facebook Script necessary for Follow, share, like buttons -->
<!-- place in head or right after opening body tag -->
<div id="fb-root"></div>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=544263825590034&version=v2.3";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

<!-- LinkedIn Script necessary for profile and share button -->
<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>

<!-- Post Header Info -->
<section class="wrapper">
  <h1>{{ page.title }}</h1>
  
  <!-- Get Page Author -->
  {% assign author = site.authors[page.author] %}
  
  <!-- Date published -->
  <div class="date">
    Posted on {{ page.date | date: "%B %e, %Y" }}
    {% if author %}
     by
    {% endif %}
  </div>
  
  <!-- Author detail section -->
  {% if author %}
    <div class="author">
      <div class="author-profile">
        <!-- Author name & Image div -->
        {% if author.linkedin %}
          <!-- Display LinkedIn Profile with image. -->
          <script type="IN/MemberProfile" 
            data-id="https://www.linkedin.com/in/{{ author.linkedin }}" 
            data-format="inline" 
            data-related="false">
          </script>
        {% else %}  <!-- No LinkedIn Profile.  Try gravatar and display name -->
          {% if author.gravatar and author.display_name %}
            <p>
              <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=80">
              <span class="author">{{ author.display_name }}</span>
            </p>
          {% elsif author.gravatar %}
            <p>
              <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=80">
            </p>
          {% elsif author.display_name %}
            <p>
              <span class="author">{{ author.display_name }}</span>
            </p>
          {% endif %}
        {% endif %}
      </div>
      <!-- end author name & image div -->
      
      <!-- author follow div -->
      <div class="author-follow-container">
        {% if author.twitter %}
          <!-- Display Twitter Follow Button -->
          <div class="author-follow">
            <a class="twitter-follow-button"
              href="https://twitter.com/{{ author.twitter }}"
              data-show-count="true"
              data-lang="en"
              rel="author">
              Follow @{{ author.twitter }}
            </a>
            <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
          </div>
        {% endif %}
        
        {% if author.facebook %}
          <!-- Display Facebook follow button -->
          <div class="author-follow fb-button">
            <div class="fb-follow" 
              data-href="https://www.facebook.com/{{ author.facebook }}" 
              data-colorscheme="light" 
              data-layout="button_count" 
              data-show-faces="false">
            </div>
          </div>
        {% endif %}
        
        {% if author.google_plus %}
          <!-- Display Google Plus follow button. -->
          <div class="author-follow">
            <div class="g-follow" 
              data-annotation="bubble" 
              data-height="20" 
              data-href="//plus.google.com/+{{ author.google_plus }}" 
              data-rel="author">
            </div>
          </div>
        {% endif %}
        
      </div>
      <!-- end of author-follow-container -->
    </div>
    <!-- end author div -->
  {% endif %}   
  <!-- end author detail section -->
    
</section>

<!-- Post Content -->
<section class="post wrapper">

  <!-- set sharing counter positions -->
  {% assign counter-pos = "vertical" %} <!-- none, vertical, horizontal -->
  {% if counter-pos == "vertical" %}
    {% assign twitter-counter-pos = "vertical" %}
    {% assign fb-button-layout = "box_count" %}
    {% assign google-button-annotation = "bubble" %}
    {% assign google-button-size = "tall" %}
    {% assign linkedin-counter-pos = "top" %}
  {% elsif counter-pos == "horizontal" %}
    {% assign twitter-counter-pos = "horizontal" %}
    {% assign fb-button-layout = "button_count" %}
    {% assign google-button-annotation = "bubble" %}
    {% assign google-button-size = "medium" %}
    {% assign linkedin-counter-pos = "right" %}
  {% else %} <!-- counter-pos is none -->
    {% assign twitter-counter-pos = "none" %}
    {% assign fb-button-layout = "button" %}
    {% assign google-button-annotation = "none" %}
    {% assign google-button-size = "medium" %}
    {% assign linkedin-counter-pos = "none" %}
  {% endif %}

  <!-- Twitter Tweet Button -->
  <a 
    href="https://twitter.com/share" 
    class="twitter-share-button" 
    data-url="{{site.url }}{{ page.url }}" 
    data-text="{{ page.title }}" 
    data-via="{{ author.twitter }}" 
    data-related="gloebit"
    data-count="{{ twitter-counter-pos }}"
    data-hashtags="{{ page.hashtags | join: ',' }}">
    Tweet
  </a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  
  <!-- Facebook Like & Share buttons -->
  <div class="fb-like" 
    data-href="{{site.url }}{{ page.url }}" 
    data-layout="{{ fb-button-layout }}" 
    data-action="like" 
    data-show-faces="true"
    data-share="true">
  </div>
  
  <!-- Google +1 button -->
  <div class="g-plusone"
    data-size="{{ google-button-size }}"
    data-annotation=" {{ google-button-annotation }}"
    data-href="{{site.url }}{{ page.url }}">
  </div>
  
  <!-- LinkedIn Share button -->
  <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
  <script type="IN/Share" 
    data-url="{{site.url }}{{ page.url }}" 
    data-counter="{{ linkedin-counter-pos }}">
  </script>
  

  
  <div class="entry">
    {{ content }}
  </div>
  
<!-- horizontal line before date -->  
****  
  <!-- Date published at bottom -->
  <div class="date">
    Posted 
    {% if author.display_name %}
    by {{ author.display_name }}
    {% endif %}
    on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</section>

<!-- Script necessary for Google Plus follow and +1 buttons -->
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>

