---
layout: dev
---

<section class="wrapper">
  <h1>{{ page.title }}</h1>
  
  {% assign author = site.authors[page.author] %}
  <div class="author">
    <p>
      <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40">
      <span class="author">{{ author.display_name }}</span>
      <a href="www.twitter.com/{{ author.twitter }}">
        <i class="icon twitter"></i>
        &#xf116;
      </a>
      <a href="www.github.com/{{ author.github }}">
        <i class="ico-github"></i>
      </a>
    </p>
  </div>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
</section>
<section class="post wrapper">
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</section>
